<ion-card class="ion-center card collection-card" (click)="onCollectionSelected(collection)">
  <ion-card-content class="collection-card-content">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="7" size-lg="7" size-xl="7">
          <ion-img [src]="collection.metadata.image" class="collection-card-image">
          </ion-img>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="5" size-xl="5">
          <ion-row>
            <ion-col>
              <ion-card-title class="collection-card-title">{{ collection.metadata.name }}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="truncate-overflow">
                {{ collection.metadata.description}}
              </ion-text>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col>
              <ion-text *ngFor="let tag of collection.metadata.tags" class="collection-tag" >
                {{tag| uppercase}}
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="2">
              <ion-thumbnail>
                <ion-img [src]="collection.metadata.logo"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <ion-col size="8" offset="2" class="likes-dislikes">
              <ion-row>
                <ion-col>
                  <ion-icon name="heart-dislike" class="icon-middle"></ion-icon> 
                  <span class="text-middle text-likes">0</span>
                  <span>&nbsp;&nbsp;&nbsp;</span>
                  <ion-icon name="heart" color="danger" class="icon-middle"></ion-icon>
                  <span class="text-middle text-likes">0</span>
                </ion-col>
              </ion-row>
              <!-- TOOD: use MarketNFT.numberOfItems() call for collection count where available -->
              <!-- <ion-row>
                <ion-col class="no-padding">
                  <ion-text class="collection-count">100 in collection</ion-text>
                </ion-col>
              </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


    </ion-grid>
    
    <p></p>
  </ion-card-content>
</ion-card>