<ion-grid *ngIf="nfts && nfts.length > 0">
    <ion-row>
        <ion-col>
            <ion-card class="ion-center card" *ngFor="let nft of nfts; let i=index" (click)="onNFTSelected(nft)">
                <ion-card-header class="centered-content">
                  <ion-avatar>
                    <img src="{{nft.metadata.logoURI}}">
                  </ion-avatar>
                  <br>
                </ion-card-header>
          
                <ion-card-content>
                  <ion-card-title>{{ nft.name }}</ion-card-title>
                  <ion-text class="truncate-overflow">
                    {{ nft.metadata.title}}
                  </ion-text>
                  <ion-row>
                    <ion-col size="4" class="dapp-category">
                      {{nft.metadata.type| uppercase}}
                    </ion-col>
                    <ion-col size="6" offset="2">

                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-button expand="block">Buy Now</ion-button>
                  </ion-row>
                  <p></p>
                </ion-card-content>
              </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid *ngIf="!nfts || nfts.length == 0">
 <ion-row>
   <ion-col>
     <h3>No NFTs found</h3>
   </ion-col>
 </ion-row> 
</ion-grid>