<ion-content>
  <ion-grid>
    <!-- main -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title" *ngIf="pool">
                  Lend {{ pool.asset.name }}
                </ion-text>
              </ion-col>
              <ion-col class="card-collateral-col">
                <ion-avatar class="card-title-collateral-img logo-cascade">
                  <ion-img [src]="pool.asset.logo"></ion-img>
                </ion-avatar>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <ion-text>My Deposits</ion-text>
              </ion-col>
              <ion-col size="6">{{myVaultSharesBalance | number:'1.2-6'}} {{vaultTokenSymbol}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Available Liquidity</ion-text>
              </ion-col>
              <ion-col size="6">{{totalVaultAssets | number:'1.2-6'}} {{ assetSymbol }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Utilization</ion-text>
              </ion-col>
              <ion-col size="6">{{utilizationRate | number:'1.2-3'}}%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Deposit APY</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{depositApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Rewards APY</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{rewardsApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-item-divider class="light-background"></ion-item-divider>
            <ion-row>
              <ion-segment value="deposit" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="deposit">Deposit</ion-segment-button>
                <ion-segment-button value="withdraw">Withdraw</ion-segment-button>
              </ion-segment>
            </ion-row>
            <div *ngIf="currentSegment === 'deposit'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Deposit {{ assetSymbol }}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Amount</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxDeposit()">Max {{myAssetBalance | number:'1.2-4'}} </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" #depositInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button *ngIf="isApproved" color="primary" expand="block" (click)="deposit()">Deposit {{ assetSymbol }}</ion-button>
                  <ion-button *ngIf="!isApproved" color="primary" fill="solid" expand="block" (click)="approveAsset()">Approve {{ assetSymbol }}</ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="currentSegment === 'withdraw'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Withdraw {{ assetSymbol }}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Amount</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxWithdraw()">Max {{myVaultSharesBalance | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" #withdrawInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button color="primary" fill="outline" expand="block" (click)="redeem()">Withdraw</ion-button>
                </ion-col>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Pool details -->
    <ion-row>
      <ion-col>
        <ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
