<ion-content>
  <ion-grid>
    <!-- main -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title">
                  Lend USDC
                </ion-text>
              </ion-col>
              <ion-col class="card-collateral-col">
                <ion-avatar *ngFor="let collateral of collaterals" class="card-title-collateral-img logo-cascade">
                  <ion-img [src]="collateral.logo"></ion-img>
                </ion-avatar>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <ion-text>My Deposits</ion-text>
              </ion-col>
              <ion-col size="6">{{'1000' | currency}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Available Liquidity</ion-text>
              </ion-col>
              <ion-col size="6">{{'2241000000' | currency}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Utilization</ion-text>
              </ion-col>
              <ion-col size="6">55.87%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Deposit APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>3.25%</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Rewards APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>5.89%</ion-text>
              </ion-col>
            </ion-row>
            <ion-item-divider class="light-background"></ion-item-divider>
            <ion-row>
              <ion-segment value="deposit" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="deposit">Deposit</ion-segment-button>
                <ion-segment-button value="withdraw">Withdraw</ion-segment-button>
              </ion-segment>
            </ion-row>
            <div *ngIf="currentSegment === 'deposit'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Deposit USDC
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Amount</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear">Max {{'0'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button color="primary" expand="block">Deposit</ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="currentSegment === 'withdraw'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Withdraw USDC
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Amount</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear">Max {{'0'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button color="primary" fill="outline" expand="block">Withdraw</ion-button>
                </ion-col>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Pool details -->
    <ion-row>
      <ion-col>
        <ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
