<ion-content>
  <ion-row class="title-row">
    <ion-text class="row-title">
      Spotlight
    </ion-text>
  </ion-row>
  <!-- header featured section -->

  <!-- Spotlight section -->
  <ion-grid>
    <div *ngIf="collections">
      <ion-row>
        <ion-col>
          <h6>Check out these new and exciting collections.</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="scrolling-wrapper-flex">
          <ion-col size-xs="10" size-sm="10" size-md="9" size-lg="8" size-xl="7" *ngFor="let collection of collections">
            <app-featured-collection-card [collection]="collection"></app-featured-collection-card>
          </ion-col>
        </div>
      </ion-row>
    </div>
  </ion-grid>

  <!-- nfts -->
  <ion-row class="explore-section-header"></ion-row>
  <ion-row class="title-row">
    <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
      <ion-text class="row-title">
        Explore
      </ion-text>
    </ion-col>
    <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2" size-xl="2" offset-lg="4" offset-xl="4">
      <ion-select value="all" interface="popover" class="dropdown-select">
        <ion-select-option value="all">All Items</ion-select-option>
        <ion-select-option value="popular">Popular</ion-select-option>
        <ion-select-option value="new">New</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="2" size-xl="2">
      <ion-select value="recent" interface="popover" class="dropdown-select">
        <ion-select-option value="recent">Recently listed</ion-select-option>
        <ion-select-option value="lowest">Lowest Price</ion-select-option>
        <ion-select-option value="highest">Highest Price</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-grid>
    <div *ngIf="nfts && nfts.length > 0">
      <ion-row *ngIf="nfts && nfts.length > 0" class="main-content">
        <ion-col *ngFor="let nft of nfts; let i=index" size-sm="6" size-xs="12" size-md="3" size-lg="3" size-xl="2">
          <app-nft-card [nft]="nft"></app-nft-card>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="!nfts || nfts.length == 0">
      <ion-row>
        <ion-col>
          <h3>Loading...</h3>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>