.featured-box {
    padding: 20px;
}

.nft-featured {
    margin: 20px 16px;
}

.inverse {
    background-color: var(--ion-color-contrast);
    color: var(--ion-color-light);
}
  
.no-margin-padding {
    margin: 0;
    padding: 0
}

