<ion-content class="main-content">
  <!-- header featured section -->
  <h1>NFT Landing</h1>
  <ion-grid>
    <ion-row class="nft-featured">
      <ion-col class="no-margin-padding" size-sm="12" size-lg="7" size-md="12" size-xl="5" offset-xl="2">
        <ion-img [src]="'./assets/images/Image 26.png'" class="no-margin-padding img-fit"></ion-img>
      </ion-col>
      <ion-col class="inverse featured-box" size-lg="5" size-md="12" size-sm="12" size-xl="4">
        <h3>Create your NFTs with us</h3>
        <h3>Let's make some Chedda</h3>
        <ion-row>

          <ion-col>

        <ion-text>
          The Chedda NFT market is deployed to efficient layer one blockchains with the lowest gas fees. Thus, minting
          NFTs on Chedda costs next to nothing.
        </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

        <ion-button color="secondary">Start the process</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Top collections -->

    <h3>Popular Collections</h3>
    <ion-row *ngIf="collections">
      <ion-col *ngFor="let collection of collections; let i=index" size-sm="6" size-md="4" size-lg="4" size-xl="4">
        <app-collection-card [collection]="collection"></app-collection-card>
      </ion-col>

    </ion-row>
    <!-- nfts -->
    <ion-row>
      <ion-col size=6>
      </ion-col>
      <ion-col>
        <ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- <div *ngIf="nfts && nfts.length > 0" class="main-content"> -->

    <ion-row *ngIf="nfts && nfts.length > 0" class="main-content">
      <ion-col *ngFor="let nft of nfts; let i=index" size-sm="6" size-xs="12" size-md="4" size-lg="3" size-xl="2">
        <app-nft-card [nft]="nft"></app-nft-card>
      </ion-col>
    </ion-row>
    <!-- </div> -->

    <div *ngIf="!nfts || nfts.length == 0">
      <ion-row>
        <ion-col>
          <h3>Loading...</h3>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>