<div class="relative network-menu-container">
  <button 
    (click)="openNetworkMenu()"
    class="h-10 w-36 sm:h-11 lg:w-40 p-2 rounded sm:rounded-lg network_button flex gap-2 justify-between items-center text-sm lg:text-xl font-semibold hover:opacity-90"
    >
    <div class="flex gap-1 items-center">
      <img [src]="env.config.ui.logo" class="w-6 h-6 lg:h-8 lg:w-8"/>
      {{ env.config.ui.chainName }}
    </div>
    <img src="/assets/icon/arrow-down.svg"/>
  </button>
  <div 
    [class.hidden]="!isOpenNetworkMenu"
    id="mySelectMenu" 
    class="absolute mt-1 w-full bg-[#13161F] text-white menu-bg rounded-[10px] shadow-lg z-10"
  >
    <ul class="list-reset">
      <li 
        *ngFor="let network of networkList; index as i" 
        (click)="onNetworkSelected(network)" 
        class="py-2 px-2 border-b border-gray-700 hover:bg-gray-700 hover:rounded-t-md cursor-pointer flex items-center text-sm sm:text-xl font-semibold gap-2 last:border-none hover:last:rounded-t-none last:rounded-b-md"
      >
        <img [src]="network.icon" class="w-6 h-6 lg:h-8 lg:w-8"/>
        {{ network.name }}
      </li>
    </ul>
  </div>
</div>
