.banner-image {
    width: 100%;
}

.rating-field {
    display: flex;
    justify-content: flex-end;
}

ion-card {
    background-color: var(--chedda-color-clean);
    cursor: pointer;
    margin-top: 20px;
}

ion-card.featured-dapp-card:hover {
    transform: scale(1.05);
    box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}