<ion-content>
  <ion-grid>
    <!-- main -->
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="10"
        offset-sm="1"
        size-md="10"
        offset-md="1"
        size-lg="8"
        offset-lg="2"
        size-xl="6"
        offset-xl="3"
      >
            <!-- TVL Card-->
            <ion-card class="light-background">
              <ion-card-title>
                <ion-row class="card-title-row">
                  <ion-col>
                    <ion-text class="card-title">Value Locked</ion-text>
                  </ion-col>
                </ion-row>
              </ion-card-title>
              <ion-item-divider class="light-background"></ion-item-divider>
              <ion-card-content>
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <div>
                      <div style="display: block">
                        <canvas
                          baseChart
                          [data]="tvlChartData"
                          [type]="stakingChartType"
                          [options]=""
                        >
                        </canvas>
                      </div>
                    </div>
                    <!-- end of chart-->
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-row *ngIf="tvlStats">
                      <ion-col>
                        <ion-row>
                          <ion-col size="6">
                            <ion-text>Total Value Locked</ion-text>
                          </ion-col>
                          <ion-col size="6">{{ tvlStats.total| currency }}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-text>Deposits</ion-text>
                          </ion-col>
                          <ion-col size="6">{{ tvlStats.deposits| currency }}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <ion-text>Collateral</ion-text>
                          </ion-col>
                          <ion-col size="6">
                            <ion-text>{{ tvlStats.collateral| currency }}</ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

      </ion-col>
    </ion-row>

    <!-- Pool details -->
    <ion-row>
      <ion-col
        size-xs="12"
        size-sm="10"
        offset-sm="1"
        size-md="10"
        offset-md="1"
        size-lg="8"
        offset-lg="2"
        size-xl="6"
        offset-xl="3"
      >
      <!-- staking card-->
      <ion-card class="light-background">
        <ion-card-title>
          <ion-row class="card-title-row">
            <ion-col>
              <ion-text class="card-title"> CHEDDA Staking </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-item-divider class="light-background"></ion-item-divider>
        <ion-card-content>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
              <div>
                <div style="display: block">
                  <canvas
                    baseChart
                    [data]="stakingChartData"
                    [type]="stakingChartType"
                    [options]=""
                  >
                  </canvas>
                </div>
              </div>
              <!-- end of chart-->
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
              <ion-row *ngIf="stakingStats">
                <ion-col>
                  <ion-row>
                    <ion-col size="6">
                      <ion-text>Total Supply</ion-text>
                    </ion-col>
                    <ion-col size="6">{{ stakingStats.totalSupply| number}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-text>Staked</ion-text>
                    </ion-col>
                    <ion-col size="6">{{stakingStats.staked| number}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-text>Base APR</ion-text>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text>{{stakingStats.baseAPR | number:'1.2' }}%</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-text>Max Rewards APR</ion-text>
                    </ion-col>
                    <ion-col size="6">212.00%</ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
