<ion-content>
  <ion-grid>
    <!-- main -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title">
                  CHEDDA Dashboard
                </ion-text>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>
            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                <!-- Chart -->
              </ion-col>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Total Supply</ion-text>
                  </ion-col>
                  <ion-col size="6">{{'1000' | currency}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Staked</ion-text>
                  </ion-col>
                  <ion-col size="6">{{'2241000000' | currency}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Current APR</ion-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-text>3.25%</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Price</ion-text>
                  </ion-col>
                  <ion-col size="6">{{'1.33' | currency}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Market Cap</ion-text>
                  </ion-col>
                  <ion-col size="6">{{'24820423' | currency}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Pool details -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title">
                  Lending
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                <!-- Chart -->
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                <!-- Stats -->
              </ion-col>
            </ion-row>
          </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
