<ion-content>
  <ion-grid class="default-background">
    <ion-row class="title-row">
      <ion-col>
        <ion-text class="row-title">
          Featured
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="scrolling-wrapper-flex">
        <ion-col *ngFor="let dapp of featuredDapps" size-xs="11" size-sm="10" size-md="9" size-lg="7" size-xl="5">
          <app-featured-dapp [dapp]="dapp"></app-featured-dapp>
        </ion-col>
      </div>
    </ion-row>
  
    <ion-row class="explore-section-header"></ion-row>
    <ion-row class="title-row">
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
        <ion-text class="row-title">
          Explore
        </ion-text>
      </ion-col>
      <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2" size-xl="2" offset-sm="2" offset-md="5" offset-lg="6"
        offset-xl="6">
        <ion-select value="all" interface="popover" class="dropdown-select" (ionChange)="dropdownValueChanged($event)"
          #filterSelect>
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="popular">Popular</ion-select-option>
          <ion-select-option value="new">New</ion-select-option>
          <ion-select-option value="defi">DeFi</ion-select-option>
          <ion-select-option value="nft">NFTs</ion-select-option>
          <ion-select-option value="gaming">Gaming</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  
    <ion-row *ngIf="dapps && dapps.length > 0">
      <ion-col *ngFor="let dapp of dapps" size-xs="6" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <app-dapp-card [dapp]="dapp"></app-dapp-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>