ion-content {
  background-color: red;
}

.full-image {
  width: 100%;
}

.truncate-text {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 6.5em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.3em;
  -webkit-line-clamp: 5; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} 
