<ion-content>
  <ion-row>
    <ion-col>
      <ion-segment (ionChange)="onSegmentChanged($event)" value="requests" #segmentControl>
        <ion-segment-button value="requests">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Loan Requests</ion-label>
        </ion-segment-button>
        <ion-segment-button value="myloans">
          <ion-icon name="cash"></ion-icon>
          <ion-label>My loans</ion-label>
         </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <div *ngIf="currentSegment == 'requests'">
    <div *ngIf="loanRequests.length > 0">
      <ion-row class="loans-header">
        <ion-col size="4">Asset</ion-col>
        <ion-col size="2">Amount</ion-col>
        <ion-col size="3">Repayment</ion-col>
        <ion-col size="3">Duration</ion-col>
      </ion-row>
      <ion-row class="loan-row" *ngFor="let request of loanRequests">
        <ion-col>
          <ion-card  [routerLink]="['/', 'lend', 'request', request.requestID.toString()]">
            <ion-card-content class="no-padding">
              <ion-row>
                <ion-col size="4" class="loan-info-col">
                  <ion-row *ngIf="request.nft && request.nft.metadata" class="asset-row">
                      <ion-col size="3" class="loan-info-col loan-content">
                        <ion-thumbnail>
                          <ion-img [src]="request.nft.metadata.image" class="asset-thumb"></ion-img>
                        </ion-thumbnail>
                      </ion-col> 
                      <ion-col size="9" class="loan-info-col loan-content">
                        <ion-text>
                          {{request.nft.metadata.name}}
                        </ion-text>
                      </ion-col>
                  </ion-row>
                  <ion-row *ngIf="!(request.nft && request.nft.metadata)">
                    <ion-col class="loan-content">
                      NFT # {{ request.tokenID }}
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="2" class="loan-content">{{ request.amount |formatEth }} {{ currency }}</ion-col>
                <ion-col size="3" class="loan-content">{{ request.repayment | formatEth }} {{ currency }}</ion-col>
                <ion-col size="3" class="loan-content">{{ request.loanLength.div(86400)  + ' days'}}</ion-col>
              </ion-row>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="loanRequests.length == 0">
      <ion-col class="centered-content">
        <ion-text class="centered-text"> There are no open loan requests</ion-text></ion-col>
    </ion-row>
  </div>

  <div *ngIf="currentSegment == 'myloans'">
    <div *ngIf="myLoans.length">
      <ion-row class="loans-header">
        <ion-col size="4">Asset</ion-col>
        <ion-col size="2">Amount</ion-col>
        <ion-col size="3">Repayment</ion-col>
        <ion-col size="3">Expiry</ion-col>
      </ion-row>
      <ion-row class="loan-row" *ngFor="let loan of myLoans">
        <ion-col>
          <ion-card [routerLink]="['/', 'lend', 'loan', loan.loanID.toString()]">
            <ion-card-content class="no-padding">
              <ion-row>
                <ion-col size="4" class="loan-info-col">
                  <ion-row *ngIf="loan.nft && loan.nft.metadata" class="asset-row">
                      <ion-col size="3" class="loan-info-col loan-content">
                        <ion-thumbnail>
                          <ion-img [src]="loan.nft.metadata.image" class="asset-thumb"></ion-img>
                        </ion-thumbnail>
                      </ion-col> 
                      <ion-col size="9" class="loan-info-col loan-content">
                        <ion-text>
                          {{loan.nft.metadata.name}}
                        </ion-text>
                      </ion-col>
                  </ion-row>
                  <ion-row *ngIf="!(loan.nft && loan.nft.metadata)">
                    <ion-col class="loan-content">
                      NFT # {{ loan.tokenID }}
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="2" class="loan-content">{{ loan.principal | formatEth}} {{ currency }}</ion-col>
                <ion-col size="3" class="loan-content">{{ loan.repaymentAmount |formatEth }} {{ currency }}</ion-col>
                <ion-col size="3" class="loan-content"> {{ loan.expiresAt.mul(1000).toString() | date}}</ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>        
      </ion-row>
    </div>
    <ion-row *ngIf="myLoans.length == 0">
      <ion-col class="centered-content">
        <ion-text>You do not have any open loans</ion-text>
      </ion-col>
    </ion-row>
  </div>
  </ion-content>