<div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center">
  <div class="inner-card-bg p-[0.7px] rounded-lg w-11/12 sm:w-5/6">
    <div class="card-bg rounded-lg py-8 px-10 sm:py-16 sm:px-20 shadow-md text-center">
      <h2 class="text-lg sm:text-2xl font-semibold mb-1 text-white">{{message}}</h2>
      <div class="flex justify-center">
        <div class="mt-2 pacman-logo flex items-center">
          <div class="logo">
            <svg width="11" height="11" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4776 10.3006L18.8514 15.9998L31.4777 21.699C29.1813 27.7216 23.3515 32 16.5225 32C7.6859 32 0.522461 24.8366 0.522461 16C0.522461 7.16344 7.6859 0 16.5225 0C23.3514 0 29.1811 4.27821 31.4776 10.3006Z" fill="#EFD53D"/>
            </svg>
          </div>
          <div class="flex ml-2 space-x-2">
            <div class="circle-pac"></div>
            <div class="circle-pac"></div>
            <div class="circle-pac"></div>
            <div class="circle-pac"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>