@keyframes eat {
    0%, 15% {
      margin-right: 0px;
    }
    20%, 35% {
      margin-right: -12px;
    }
    40%, 55% {
        margin-right: -24px;
    }
    60%, 75% {
        margin-right: -36px;
    }
    80%, 100% {
        margin-right: -48px;
    }
  }
  
  @keyframes hide-circle-1 {
    0%, 15% {
      opacity: 1;
    }
    20%, 35% {
      opacity: 0;
    }
    40%, 55% {
      opacity: 0;
    }
    60%, 75% {
      opacity: 0;
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes hide-circle-2 {
    0%, 15% {
      opacity: 1;
    }
    20%, 35% {
      opacity: 1;
    }
    40%, 55% {
      opacity: 0;
    }
    60%, 75% {
      opacity: 0;
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes hide-circle-3 {
    0%, 15% {
      opacity: 1;
    }
    20%, 35% {
      opacity: 1;
    }
    40%, 55% {
      opacity: 1;
    }
    60%, 75% {
      opacity: 0;
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes hide-circle-4 {
    0%, 15% {
      opacity: 1;
    }
    20%, 35% {
      opacity: 1;
    }
    40%, 55% {
      opacity: 1;
    }
    60%, 75% {
      opacity: 1;
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  
  .circle-pac:nth-child(1){
    animation: hide-circle-1 5s infinite;
  }
  
  .circle-pac:nth-child(2){
    animation: hide-circle-2 5s infinite;
  }
  
  .circle-pac:nth-child(3){
    animation: hide-circle-3 5s infinite;
  }
  
  .circle-pac:nth-child(4){
    animation: hide-circle-4 5s infinite;
  }
  
  
  .logo {
    position: relative;
    width: 10px;
    height: 10px;
    animation: eat 5s infinite;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
  }
  
  .triangle {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 5px;
    height: 5px;
    background-color: black;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  }
  
  .pacman-logo{
    display: flex;
    flex-direction: row;
    place-items: center;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 50%;
  }
  
  .circle-pac{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #7CCEF3;
  }
  
  .border-gradient {
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px !important;
    box-sizing: content-box;
    border-image-source: linear-gradient(to right, red, orange);
  }

  .inner-card-bg{
    background: linear-gradient(252.74deg, #F3943D 18.99%, rgba(72, 65, 158, 0.81) 58.87%);
  }
  
  // .loading-modal{
  //   top: 0;
  //   z-index: 9999;
  // }