<div>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <!-- disable image for now -->
        <ion-img class="popover-avatar" [src]="address | blockie:[12, 4]"></ion-img>
      </ion-col>
      <ion-col size="9" offset="0" class="address-row justify-content-end">
        <ion-row>
          <ion-text>{{address | truncateMiddle:[6, '...', 4]}}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>
      <ion-col class="justify-content-end">
        <span class="xp-balance">{{cheddaBalance | number:'1.2-4'}}</span>&nbsp; CHEDDA 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="justify-content-end">
        <span class="xp-balance">{{xCheddaBalance | number:'1.2-4'}}</span>&nbsp; xCHEDDA
      </ion-col>
    </ion-row>
    <!-- <ion-item-divider></ion-item-divider> -->
    <!-- <ion-row>
      <ion-col>
        <ion-text class="profile-link">
          <a (click)="disconnect()" class="profile-link">Disconnect</a>
        </ion-text>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</div>