<ion-content>
  <ion-grid *ngIf="drop">
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card class="details-card">
          <ion-row>
            <ion-col>
              <h1>{{ drop.metadata.name }}</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-img [src]="drop.metadata.image" class="drop-image"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                <span class="text-label">Launching:</span>
                <span>
                  {{ drop.end.mul(1000).toString() | date:'short' }}
                </span>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="subtitle">
                <span class="text-label">Enter:</span>
                <span>
                 {{ drop.start.mul(1000).toString() | date:'short' }} - {{ drop.end.mul(1000).toString() | date:'short' }}
                </span>
              </ion-text>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text> {{ drop.metadata.available }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="centered-text">
              <ion-button expand="block" color="primary" (click)="onEnterClicked()" [disabled]="true">Enter to Win</ion-button>
              <ion-text class="subtext centered-text">Chedda XP required to enter.</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                <div [innerHtml]="drop.metadata.description"></div>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
