<ion-content>
  <ion-grid class="default-background">
    <ion-row>
      <ion-col class="top-prize" size-xs="12" size-sm="12" size-md="12" size-lg="5" size-xl="4" offset-xl="2" offset-lg="1">
        <ion-card class="prize-card">
          <ion-card-header>
            <ion-card-title>Top Prize</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <div>
              <ion-img src="assets/images/badges/small/Godfather.png" class="top-prize-image"></ion-img>
            </div>
            <div>
              <ion-text class="top-prize-text">
                <span>Chedda Godfather NFT</span>
              </ion-text>
            </div>
            <ion-label class="top-prize-subtext">
              <ion-text>Winner:</ion-text>
              <ion-text>TBD</ion-text>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="other-prizes" size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="4" size-lg="5">
        <ion-card class="prize-card">
          <ion-card-header>
            <ion-card-title>Prizes</ion-card-title>
          </ion-card-header>
          <ion-card-content class="prize-list">
            <!-- <ion-list> -->
                <ion-item *ngFor="let prize of prizes">
                  <!-- <ion-thumbnail slot="start" class="prize-thumb"> -->
                    <ion-img [src]="prize.image" class="prize-thumb"></ion-img>
                  <!-- </ion-thumbnail> -->
                  <ion-label>
                    <h4 class="prize-title">{{prize.name}}</h4>
                    <span class="prize-subtext">Quantity: {{prize.quantity}}</span>
                  </ion-label>
                  <ion-button slot="end" disabled="true">Claim</ion-button>
                </ion-item>
            <!-- </ion-list> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" size-xl="8" offset-lg="1" offset-xl="2">
        <div class="table-wrapper">
          <div>
            <ion-text>
              <h3>Leaderboard</h3>
            </ion-text>
          </div>
          <ngx-datatable [ngClass]="theme === 'light' ? 'material' : 'dark'" [limit]="10" [rows]="leaderboard" [columns]="columns" [rowHeight]="80"
            [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50">
            <ngx-datatable-column name="Address" prop="user" [flexGrow]="3">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="row-content">
                <ion-img [src]="value | blockie:[10, 2]" class="blockie"></ion-img>
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Points" prop="points" [flexGrow]="1">
              <ng-template let-row="row" let-value="value" class="row-content" ngx-datatable-cell-template>
                <span class="row-content">
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="NFT Prize" prop="rank" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <!-- {{ value }} -->
                <span class="row-content">
                  <ion-thumbnail>
                    <ion-img [src]="(value | rankReward).url" [alt]="(value | rankReward).name"></ion-img>
                  </ion-thumbnail>
                </span>
                
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>