
.prize-card {
    height: 440px;
    background-color: var(--chedda-color-clean);
    color: var(--ion-color-dark);
    ion-thumbnail {
        background-color: black;
        padding: 5px;
        height: 40px;
        width: 40px;
    }
    .top-prize-image::part(image) {
        height: 240px;
        max-height: 240px;
    }
}
.rewards-content {
    color: var(--ion-color-dark);
}

.table-wrapper {
    margin: 20px;
}

.top-prize-image {
    max-height: 300px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-prize-text {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

ion-label {
    margin-top: 6px;
    margin-bottom: 5px;
}

.top-prize-subtext {
    font-size: 16px;
    font-weight: 500;
}

.prize-title {
    font-size: 14px;
    font-weight: 700;
}

.prize-subtext {
    font-size: 14px;
    font-weight: 500;
}

.prize-thumb {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: black;
    margin-right: 10px;
    border-radius: 4px;
}

ion-img::part(image) {
    width: auto;
    max-height: 200px;
    object-fit: contain;
}


.row-content {
    height: 100%;
    line-height: 60px;
    display: flex !important;
    align-items: center !important;
    font-weight: 500;
    font-size: 14px;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center !important;
   display: flex !important;
 }

.datatable-body-cell
{
   display: flex !important;
   align-items: center !important;
}

.prize-list {
    overflow: scroll;
}