.wallet-avatar {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
}

.switch-button {
    margin-left: 20px;
}

.account-button {
    margin-left: 10px;
}

.darkmode-button {
    margin-left: 10px
}