@media(min-width: 768px) {
    .main-nav {
        display: block;
        min-width: 840px;
    }
    .mobile-nav {
        display: none;
    }
}

@media(max-width:768px) {
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    } 
}
.wallet-avatar {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
}

.switch-button {
    margin-left: 20px;
}

.account-button {
    margin-left: 10px;
}

.darkmode-button {
    margin-left: 10px
}

.top-nav-active {
    background-color: var(--ion-color-primary);
    border-radius: 16px;
    font-weight: 700;
}

.top-nav-button {
    padding: 0 12px;
    font-weight: 500;
}

.side-nav-item {
    font-weight: 500;
}

.side-nav-text {
    margin: 0 8px;
}

.side-nav-active {
    font-weight: 700;
    color: var(--ion-color-primary);
}

.mobile-chedda-logo {
    width: 34px;
    height: 34px;
}

.profile-avatar-row {
    margin: 20px 0;
}

ion-img.circle::part(image) {
    margin: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 150px;
    height: 150px;
    border: 2px solid var(--ion-color-contrast) !important;
}

.balance-row {
    margin-bottom: 12px;
    font-weight: 500;
}

.xp-balance {
    font-weight: 700;
    color: var(--ion-color-primary);
    margin-left: 4px;
}


.dropdown {
    width: 136px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 87px;
    z-index: 100;
    ion-item:hover {
        --ion-item-color: var(--ion-color-primary);
    }
}
