@media(min-width: 768px) {
    .main-nav {
        display: block;
        min-width: 840px;
    }
    .mobile-nav {
        display: none;
    }
}

@media(max-width:768px) {
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    } 
}
.wallet-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
}

.switch-button {
    margin-left: 20px;
}

.account-button {
    margin-left: 10px;
}

.darkmode-button {
    margin-left: 10px
}

.top-nav-active {
    font-weight: 700;
    .pacman-logo{
        display: flex;
        flex-direction: row;
        place-items: center;
        align-items: center;
        justify-content: center;
        left: 50%;
        right: 50%;
    }
}

.circle-pac{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #7CCEF3;
}

// .pacman {
//     width: 0;
//     height: 0;
//     border-top: 5px solid transparent;
//     border-right: 5px solid gray;
//     border-bottom: 5px solid transparent;
//     border-radius: 50%;
//     position: relative;
//     animation: eat 1s infinite;
//   }
  
//   .pacman:before {
//     content: "";
//     width: 10px;
//     height: 10px;
//     background-color: yellow;
//     border-radius: 50%;
//     position: absolute;
//   }

.top-nav-button {
    padding: 0 12px;
    font-weight: 500;
}

.side-nav-item {
    font-weight: 500;
}

.side-nav-text {
    margin: 0 8px;
}

.side-nav-active {
    font-weight: 700;
    color: var(--ion-color-primary);
}

.mobile-chedda-logo {
    width: 34px;
    height: 34px;
}

.profile-avatar-row {
    margin: 20px 0;
}

ion-img.circle::part(image) {
    margin: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 150px;
    height: 150px;
    border: 2px solid var(--ion-color-contrast) !important;
}

.balance-row {
    margin-bottom: 12px;
    font-weight: 500;
}

.xp-balance {
    font-weight: 700;
    color: var(--ion-color-primary);
    margin-left: 4px;
}

.dropdown {
    width: 136px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 87px;
    z-index: 100;
    ion-item:hover {
        --ion-item-color: var(--ion-color-primary);
    }
}

.network-logo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px 4px 4px;
}

.title-row {
    vertical-align: middle;
}

.connect-icon {
    margin-right: 8px;
}

.profile-button {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-left: 20px;
}

.network_button {
    background: linear-gradient(252.74deg, #F3943D 18.99%, rgba(72, 65, 158, 0.81) 58.87%);
}

.account_button {
    background: linear-gradient(252.74deg, #F3943D 18.99%, #6257F2 98.75%)
}

.borrow-button-bg{
    background: linear-gradient(86.02deg, #F3943D -8.86%, #FDE34D 129.9%);
}

.menu-bg{
    background: radial-gradient(48.98% 14130.72% at 51.02% 50%, rgb(40, 25, 80) 45.83%, rgb(18, 9, 37) 100%) 
}

.mobile-nav-bg{
   background: radial-gradient(66.36% 66.36% at 50% 50%, #1D123A 0%, #000000 100%);
}

.mobile-drawer{
    margin-top: -100vh;
}

.mobile-translate{
    transform: translateY(0px)
}
