<ion-card class="ion-center card nft-card" (click)="onNFTSelected(nft)">
  <!-- <ion-card-header class="centered-content"> -->
  <ion-img *ngIf="nft && nft.metadata" [src]="nft.metadata.image">
  </ion-img>
  <br>
  <!-- </ion-card-header> -->

  <ion-card-content class="nft-card-content">
    <ion-row>
      <ion-col size="8">
        <ion-card-title class="nft-card-title">{{ nft.metadata.name }}</ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="truncate-overflow">
          {{ nft.metadata.description}}
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
          <ion-text class="nft-price">
            <span>{{nft.price | formatEth }}</span>&nbsp;<span>MATIC</span>
          </ion-text>
      </ion-col>
    </ion-row> -->
    <p></p>
  </ion-card-content>
</ion-card>