<ion-content>
  <ion-grid *ngIf="nft">
    <ion-row>
      <!-- image -->
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="5" offset-lg="1" size-xl="4" offset-xl="2" >
        <ion-img [src]="nft.metadata.image" class="nft-image"></ion-img>
      </ion-col>

      <!-- details -->
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="5" offset-lg="0" size-xl="4">
        <ion-row>
          <ion-col size-xs="10" size-sm="10" size-md="9" size-lg="10" size-xl="10">
            <ion-text>
              <h1>{{nft.metadata.name}}</h1>
            </ion-text>
          </ion-col>
          <ion-col class="likes-column" size-xs="2" size-sm="2" size-md="3" size-lg="2" size-xl="2">
            <ion-chip outline="true" color="primary" class="likes-chip" (click)="onLikeClicked()">
              <ion-icon name="heart" color="primary" class="likes-icon"></ion-icon>
              <ion-text class="likes-count">{{numberOfLikes}}</ion-text>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              {{nft.metadata.description}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              {{nft.metadata.created | date}}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="section-title">
              Blockchain
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-chip>
            <ion-avatar>
              <ion-img [src]="env.config.ui.logo"></ion-img>
            </ion-avatar>
            <ion-label>{{env.config.ui.chainName}}</ion-label>
          </ion-chip>
          </ion-col>
        </ion-row>

        <!-- Loan info -->
        <div *ngIf="loan">
          <ion-row class="loan-prop-first-row">
            <ion-col>
              <ion-text class="loan-label">Loan Status</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="loan-value">{{loan.state | loanState | uppercase }}</ion-text>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col>
              <ion-text class="loan-label">Amount Requested</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="loan-value">{{ loan.principal | formatEth }} {{ currency | uppercase}}</ion-text>
            </ion-col>
          </ion-row> 
  
          <ion-row>
            <ion-col>
              <ion-text class="loan-label">Repayment Amount</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="loan-value">{{ loan.repaymentAmount | formatEth }} {{ currency | uppercase}}</ion-text>
            </ion-col>
          </ion-row> 
  
          <ion-row class="loan-prop-last-row">
            <ion-col>
              <ion-text class="loan-label">Loan Expiry</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="loan-value">{{ loan.expiresAt.mul(1000).toString() | date }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button #buyButton [disabled]="!canForeclose || txPending" (click)="foreclose()" expand="block" color="dark">Foreclose</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="subtext">
                This NFT has been put up as collateral for a loan. 
                Once a loan is opened, the NFT is locked in the smart contract until the borrower repays or the loan matures, at which point the lender can foreclose and take ownership.
                Please only offer a loan if you are comfortable with buying this NFT at the loan value.
              </ion-text>
            </ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
