<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" size-xl="8" offset-xl="2">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="pool-title-row">
              <ion-col>
                <ion-text class="pool-section-title">CHEDDA Rewards Distribution</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6" offset="3">
                <div style="display: block">
                  <canvas
                    baseChart
                    [data]="chartData"
                    [type]="chartType"
                    [options]=""
                  >
                  </canvas>
                </div>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col *ngIf="!hasEpochEnded" class="centered-text">
                <ion-text>
                  Current epoch ends: {{epochEnd * 1000 | date:'medium'}}
                </ion-text>
              </ion-col>
              <ion-col *ngIf="hasEpochEnded" class="centered-text">
                <ion-row>
                  <ion-col>
                  <ion-text>
                    Epoch ended: {{epochEnd * 1000 | date:'medium'}}
                  </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" (click)="rebalance()">Rebalance</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  <!-- Lending Pools -->
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" size-xl="8" offset-xl="2">
      <ion-card class="light-background">
        <ion-card-title>
          <ion-row class="pool-title-row">
            <ion-col>
              <ion-text class="pool-section-title">Gauges</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="normal-text pool-section-subtitle">Use your voting power to direct token emission.</ion-text>
            </ion-col>
            <ion-col>
              <ion-text *ngIf="votePower" class="normal-text pool-section-subtitle">
                veCHEDDA: {{votePower | formatEth | rounding:[0] }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-item-divider class="thin-divider light-background"></ion-item-divider>
        <ion-card-content>
          <ion-row class="loans-header">
            <ion-col size="4">Pool</ion-col>
            <ion-col size="4">Votes</ion-col>
            <ion-col size="2">Vote</ion-col>
            <ion-col size="2">Claim</ion-col>
          </ion-row>
          <ion-row *ngFor="let pool of lendingPools">
            <ion-col>
              <ion-card class="lighter-background">
                <ion-row class="pool-row">
                  <ion-col size="4" class="flex-col">
                    <ion-avatar class="asset-logo">
                      <ion-img [src]="pool.asset.logo" class="asset-avatar"></ion-img>
                    </ion-avatar>
                    <ion-text class="asset-name">
                      {{pool.asset.symbol}} 
                    </ion-text>
                  </ion-col>
                  <ion-col size="4">
                    <ion-text>
                      {{pool.votes | formatEth | rounding:[0]}} votes
                    </ion-text>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button fill="outline" [disabled]="!canVote" (click)="vote(pool)">Vote</ion-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-row>
                      <ion-col>
                        <ion-button [disabled]="!pool.claimAmount || pool.claimAmount.amount.isZero()" (click)="claim(pool)">Claim</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="card-collateral-col pool-2nd-col" size="4">
                    <ion-avatar *ngFor="let collateral of pool.collateral" class="vote-card-collateral-img logo-cascade">
                      <ion-img [src]="collateral.logo"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="2" offset="6" *ngIf="pool.claimAmount" [ngClass]="pool.claimAmount.claimed? 'line-through' : ''">
                    {{pool.claimAmount.amount| formatEth | number:'1.1-2' }} CHEDDA
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
            <!-- columns for pools -->
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- P2P Markets -->
  </ion-grid>
  </ion-content>