.normal-text {
    font-weight: 500;
    font-size: 14px;
}

.card-collateral-col {
    display: flex;
}
.vote-card-collateral-img {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.pool-2nd-col {
    margin: 0 -20px 4px 20px;
}

.cascade-img{
    border-radius: 50%;
}