<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" size-xl="8" offset-xl="2">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="pool-title-row">
              <ion-col>
                <ion-text class="pool-section-title">CHEDDA Rewards Distribution</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6" offset="3">
                <div style="display: block">
                  <canvas
                    baseChart
                    [data]="chartData"
                    [type]="chartType"
                    [options]=""
                  >
                  </canvas>
                </div>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col *ngIf="!hasEpochEnded" class="centered-text">
                <ion-text>
                  Current epoch ends: {{epochEnd * 1000 | date:'medium'}}
                </ion-text>
              </ion-col>
              <ion-col *ngIf="hasEpochEnded" class="centered-text">
                <ion-row>
                  <ion-col>
                  <ion-text>
                    Epoch ended: {{epochEnd * 1000 | date:'medium'}}
                  </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" (click)="rebalance()">Rebalance</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" size-xl="8" offset-xl="2">
      <ion-card class="light-background">
        <ion-card-title>
          <ion-row class="pool-title-row">
            <ion-col>
              <ion-text class="pool-section-title">Gauges</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="normal-text pool-section-subtitle">Use your voting power to direct token emission.</ion-text>
            </ion-col>
            <ion-col>
              <ion-text *ngIf="votePower" class="normal-text pool-section-subtitle">
                veCHEDDA: {{votePower | formatEth | rounding:[0] }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-item-divider class="thin-divider light-background"></ion-item-divider>
        <ion-card-content>
          <ion-row class="loans-header">
            <ion-col size="4">Pool</ion-col>
            <ion-col size="4">Votes</ion-col>
            <ion-col size="2">Vote</ion-col>
            <ion-col size="2">Claim</ion-col>
          </ion-row>
          <ion-row *ngFor="let pool of lendingPools">
            <ion-col>
              <ion-card class="lighter-background">
                <ion-row class="pool-row">
                  <ion-col size="4" class="flex-col">
                    <ion-avatar class="asset-logo">
                      <ion-img [src]="pool.asset.logo" class="asset-avatar"></ion-img>
                    </ion-avatar>
                    <ion-text class="asset-name">
                      {{pool.asset.symbol}} 
                    </ion-text>
                  </ion-col>
                  <ion-col size="4">
                    <ion-text>
                      {{pool.votes | formatEth | rounding:[0]}} votes
                    </ion-text>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button fill="outline" [disabled]="!canVote" (click)="vote(pool)">Vote</ion-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-row>
                      <ion-col>
                        <ion-button [disabled]="!pool.claimAmount || pool.claimAmount.amount.isZero()" (click)="claim(pool)">Claim</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="card-collateral-col pool-2nd-col" size="4">
                    <ion-avatar *ngFor="let collateral of pool.collateral" class="vote-card-collateral-img logo-cascade">
                      <ion-img [src]="collateral.logo"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="2" offset="6" *ngIf="pool.claimAmount" [ngClass]="pool.claimAmount.claimed? 'line-through' : ''">
                    {{pool.claimAmount.amount| formatEth | number:'1.1-2' }} CHEDDA
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content> -->

  <ion-content>
    <ion-grid>
      <div class="h-24 border-b border-gray-600 w-full flex items-center">
        <div class="w-11/12 xl:w-5/6 2xl:w-9/12 mx-auto flex-col text-white">
          <div class="font-semibold text-xl sm:text-3xl mb-1 sm:mb-2">CHEDDA Rewards Distribution</div>
          <div class="text-gray-400 text-xs sm:text-lg">
            Vote to direct the emission of CHEDDA tokens 
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center mt-5 mx-auto">
        <div class="w-11/12 sm:w-11/12 xl:w-3/4 grid grid-cols-1 place-items-center items-start sm:grid-cols-2">
          <ion-col size="10" offset-xs="0" offset-sm="1" offset-md="2" offset-lg="5">
            <canvas
              baseChart
              [data]="chartData"
              [type]="chartType"
              [options]="options"
            >
            </canvas>
          </ion-col>
          <div class="flex sm:flex-col justify-evenly flex-wrap sm:flex-nowrap order-first sm:order-last mb-5 sm:mb-0">
            <div *ngFor="let item of chartLabelsWithBg" class="flex flex-col sm:flex-row items-center  space-x-3 mt-3">
              <div class="w-16 h-5 sm:w-24 sm:h-7 rounded-sm" [ngClass]="[item.backgroundColor]"></div>
              <div class="font-bold flex justify-center items-center place-items-center text-white text-xs sm:text-lg mt-1 sm:mt-0">{{item.label}}</div>
            </div>
          </div>
        </div>
      </div>
      <div  class="flex-col justify-center mt-7 items-center">
        <div *ngIf="!hasEpochEnded" class="text-white font-semibold text-xs sm:text-lg">Current epoch ends: {{epochEnd * 1000 | date:'medium'}}</div>
        <div *ngIf="hasEpochEnded" class="text-white font-semibold text-xs sm:text-lg">Epoch ended: {{epochEnd * 1000 | date:'medium'}}</div>
        <button
            (click)="rebalance()"
            class="h-8 w-44 sm:h-11 sm:w-60 primary-button-bg text-white mt-3 rounded-lg font-bold uppercase text-sm sm:text-lg hover:opacity-90"
          >
            Rebalance
        </button>
      </div>
      <div class="h-24 border-b border-t mt-20 border-gray-600 w-full flex items-center">
        <div class="w-11/12 xl:w-5/6 2xl:w-9/12 mx-auto flex-col text-white">
          <div class="font-semibold text-xl sm:text-3xl mb-1 sm:mb-2">Gauages</div>
          <div class="text-gray-400 text-xs sm:text-lg">
            Use your voting power to direct token emissions.
          </div>
        </div>
      </div>
      <div class="my-10 w-11/12 sm:w-[97%] xl:w-9/12 mx-auto">
        <div *ngIf="votePower" class="text-white text-center font-semibold">
          veCHEDDA: {{votePower | formatEth | rounding:[0] }}
        </div>
        <div class="hidden mt-7 sm:grid grid-cols-12 text-white font-semibold sm:px-5 xl:px-10">
          <div class="col-span-4">
            Pool
          </div>
          <div class="col-span-2">
            Votes
          </div>
          <div class="col-span-3 flex justify-center">
            Vote
          </div>
          <div class="col-span-3 flex justify-center">
            Claim
          </div>
        </div>
        <div *ngFor="let pool of lendingPools" class="hidden sm:grid grid-cols-12 w-full 2xl:w-8/12 rounded-[19px] mt-3 h-20 text-white faucets-bg sm:px-5 xl:px-10 items-center">
          <div class="col-span-4">
            <div class="grid grid-cols-12">
              <div class="col-span-4 mt-3 ">
                <div class="mt-2 vote-card-collateral-img logo-cascade">
                  <img [src]="pool.asset.logo" class="cascade-img" />
                </div>
                <div class="font-bold mt-2 text-sm">{{pool.asset.symbol}}</div> 
              </div>
              <div class="col-span-8 ">
                <div class="flex mt-3">
                  <div *ngFor="let collateral of pool.collateral" class="my-2 vote-card-collateral-img logo-cascade">
                    <img [src]="collateral.logo" class="cascade-img"/>
                  </div>
                </div>
                <div class="font-bold flex mt-2 items-end text-sm">
                  <div *ngFor="let collateral of pool.collateral; index as i" class="">
                    {{collateral.symbol}}
                    <span *ngIf="i !== pool.collateral.length - 1">, </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-2">
            {{pool.votes | formatEth | rounding:[0]}} votes
          </div>
          <div class="col-span-3 flex justify-center">
            <button
              [disabled]="!canVote" 
              (click)="vote(pool)"
              class="h-8 w-52 primary-button-bg text-white rounded-lg font-bold uppercase text-lg hover:opacity-90"
            >
              Vote
            </button>
          </div>
          <div class="col-span-3 flex justify-center">
            <button
              [disabled]="!pool.claimAmount || pool.claimAmount.amount.isZero()"
              (click)="claim(pool)"
              class="h-8 w-52 secondary-button flex justify-center items-center gap-1 rounded-lg secondary-button font-bold text-sm uppercase hover:opacity-90"
            >
              Claim  
            <div *ngIf="pool.claimAmount">
              {{pool.claimAmount.amount| formatEth | number:'1.1-2' }} CHEDDA
            </div>
          </button>
          </div>
        </div>
        <!-- Mobile Gauge-------------------- -->
        <div *ngFor="let pool of lendingPools" class="sm:hidden w-full rounded-[19px] mt-6 h-auto text-white faucets-bg ">
          <div class="grid grid-cols-2 border-b border-gray-500">
            <div class="flex flex-col justify-between h-32 border-r border-gray-500 px-5 py-3">
              <div class="text-lg">Pool</div>
              <div class="flex gap-2 space-x-2">
                <div class="mt-3 ">
                  <div class="mt-2 vote-card-collateral-img logo-cascade">
                    <img [src]="pool.asset.logo" class="cascade-img" />
                  </div>
                  <div class="font-bold mt-2 text-sm">{{pool.asset.symbol}}</div> 
                </div>
                <div class="hidden">
                  <div class="flex mt-3">
                    <div *ngFor="let collateral of pool.collateral" class="my-2 vote-card-collateral-img logo-cascade">
                      <img [src]="collateral.logo" class="cascade-img"/>
                    </div>
                  </div>
                  <div class="font-bold flex mt-2 items-end text-sm">
                    <div *ngFor="let collateral of pool.collateral; index as i" class="">
                      {{collateral.symbol}}
                      <span *ngIf="i !== pool.collateral.length - 1">, </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-end justify-between h-32 px-5 py-3">
              <div class="text-lg">Votes</div>
              <div class="font-semibold text-lg">{{pool.votes | formatEth | rounding:[0]}} votes</div>
            </div>
          </div>
          <div class="flex flex-col mt-5 items-center justify-center gap-4 pb-4" >
            <button
              [disabled]="!canVote" 
              (click)="vote(pool)"
              class="h-10 w-60 primary-button-bg text-white rounded-lg font-bold uppercase text-lg hover:opacity-90"
            >
              Vote
            </button>
            <button
              [disabled]="!pool.claimAmount || pool.claimAmount.amount.isZero()"
              (click)="claim(pool)"
              class="h-10 w-60 secondary-button flex justify-center items-center gap-1 rounded-lg secondary-button font-bold text-md uppercase hover:opacity-90"
            >
              Claim  
              <div *ngIf="pool.claimAmount">
                {{pool.claimAmount.amount| formatEth | number:'1.1-2' }} CHEDDA
              </div>
            </button>
          </div>
        </div>
      </div>
    </ion-grid>
  </ion-content>
  