
.normal-text {
    font-weight: 500;
    font-size: 14px;
}

.card-collateral-col {
    display: flex;
}
.vote-card-collateral-img {
    width: 26px;
    height: 26px;
}
.pool-2nd-col {
    margin: 0 -20px 4px 20px;
}