
<ion-grid class="centered-text grid">
  <ion-row *ngIf="dapp">
    <ion-col class="avatar-wrapper">
      <ion-avatar class="ion-center app-avatar">
        <ion-img [src]="dapp.metadata.logoURI"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col class="ion-center">
        <ion-text>
          <h2>Rate {{dapp.name}}</h2>
        </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-center">
          <ion-text>Earn Chedda XP and get a chance to win NFTs.</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-center">
          <ion-text><span class="reward">Reward:</span>&nbsp;<span class="reward-amount">+10 Chedda XP</span></ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ionic-rating-component #ratingComponent  activeColor="#ebdb34" defaultColor="#c4c4c4"
      readonly="false" rating={{dapp.rating}} fontSize="32px"
      (ratingChanged)="onRatingChange($event)"></ionic-rating-component>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Add Review
    </ion-col>
    <ion-col>
      <ion-toggle [(ngModel)]="addReview"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="addReview">
    <ion-col>
      <ion-item>
        <ion-label position="floating">Write your review</ion-label>
        <ion-textarea inputmode="text" maxlength="1000" minlength="10" #textArea [(ngModel)]="reviewText"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="cancelClicked()" color="light">Cancel</ion-button>
      <ion-button (click)="rateDapp()" [disabled]="!(ratingComponent.rating) || (addReview && reviewText.length < 10)">Submit</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text class="subtext">Note: Ratings are recorded on the blockchain which costs gas. You earn Chedda XP in the process.</ion-text><br/>
      <ion-text class="subtext">You can only rate an item once.</ion-text>
      <br>
    </ion-col>
  </ion-row>
</ion-grid>