.grid {
    padding: 20px;
    color: var(--ion-color-dark);
}
.avatar-wrapper {
    display: flex;
    justify-content: center;
}

.app-avatar {
    width: 150px;
    height: 150px;
    border: 3px var(--ion-color-dark) solid;
    border-radius: 50%;
}

.reward {
    font-size: 1.8em;
    font-weight: 500;
}
.reward-amount {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--ion-color-danger);
}
