<ion-content>
  <ion-grid>

    <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">

    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" size-xl="6" offset-xl="3">
        <ion-row>
          <ion-col>
            <ion-text>
              <h1>Create an NFT</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        
        <!-- Image -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Image, Audio or Video File</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Supported file formats are JPG, GIF, PNG, WEBP, MP3, MP4, MOV, WAV. Max 40 MB.</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="upload-box media-box" (click)="mediaSelect.click()" *ngIf="!imageSrc">
                  <ion-img src="/assets/images/placeholder-image.png"></ion-img>
                  <input type="file" class="hidden-input" 
                  accept="image/png, image/jpeg, image/png, image/webp, video/mov, video/mp4, audio/mp3 audio/wav" 
                  (change)="onMediaSelected($event)" #mediaSelect>
                </div>
                <div class="upload-box media-box"  *ngIf="imageSrc">
                  <ion-img [src]="imageSrc" class="preview-image"></ion-img>
                  <ion-icon name="close" class="top-right" (click)="onRemoveImage()"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- name -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Name</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Enter a unique name for your item</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input class="bordered-input" placeholder="Item name" formControlName="name"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- description -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Item Description</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">The description is displayed on the item details page</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-textarea class="bordered-input" placeholder="Provide a description for your item" rows="4" formControlName="description"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- properties -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Properties</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Does this item have any unique attributes?</ion-text>
              </ion-col>
            </ion-row> 
            <ion-row>
              <ion-col size="6">
                <ion-input placeholder="Property" class="bordered-input"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input placeholder="Value" class="bordered-input"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>
        <!-- collection -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Collection</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">The collection this item is a part of</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select interface="popover" interfaceOptions="{'cssClass': 'wide-popover'}" class="bordered-input" (ionChange)="onCollectionItemSelected()">
                  <ion-select-option *ngFor="let option of collections">{{option}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Create button -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit">Create Item</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text class="subtext centered-text centered-content">Creating an NFT executes a smart contract on chain. Transaction fees are required to pay for gas.</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    </form>
  </ion-grid>

</ion-content>
