
.media-box {
    height: 300px;
    width: 300px;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.bordered-input {
    border-radius: 5px;
    border: 1px var(--ion-color-light-shade) solid;
    padding-left: 6px;
    padding-right: 6px;
}

.wide-popover {
    width: 100%;
}
::ng-deep .wide-popover
{
  --width: 95%;
  --max-width: 400px;
}

.preview-image {
    width: 290px;
    height: 290px;
    max-height: 300px;
    max-width: 300px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--ion-color-medium);
}
