<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="8" size-xl="6" offset-xl="3" offset-lg="2"
                offset-md="1" *ngIf="dapp">
                <ion-card class="dapp-details-card">
                    <!-- Project Summary -->
                    <ion-row>
                        <!-- project logo -->
                        <ion-col size="3" size-xs="12" size-sm="12" size-md="6" size-lg="3" size-xl="3">
                            <img [src]="dapp.metadata.logoURI">
                        </ion-col>
                        <!-- Right column -->
                        <ion-col>
                            <ion-row>
                                <ion-col size="10">
                                    <h1>{{ dapp.name }}</h1>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-fab>
                                        <ion-fab-button><ion-icon name="globe-outline"></ion-icon></ion-fab-button>
                                        <ion-fab-list side="bottom">
                                            <ion-fab-button (click)="openUrl(dapp.metadata.homePageURI)">
                                                <ion-icon name="globe-outline"></ion-icon>
                                            </ion-fab-button>

                                            <ion-fab-button *ngFor="let social of dapp.metadata.socials" (click)="openUrl(social.profileURI)">
                                                <ion-icon [name]="social.name.toLowerCase() == 'telegram' ? 'paper-plane-outline' : 'logo-' + social.name"></ion-icon>
                                            </ion-fab-button>
                                        </ion-fab-list>
                                    </ion-fab>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6"
                                class="rating-column">
                                <ion-row>
                                    <ion-col>
                                        <ionic-rating-component #ratingComponent activeColor="#ebdb34"
                                            defaultColor="#c4c4c4" readonly="true" rating={{dapp.rating}}
                                            fontSize="24px" (click)="showRatingsModal()"
                                            (ratingChanged)="onRatingChange($event)">
                                        </ionic-rating-component>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-row>
                                            <ion-button (click)="showRatingsModal()">Leave a rating</ion-button>
                                        </ion-row>
                                        <ion-row class="earn-row">
                                            <ion-text>Earn Chedda XP</ion-text>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                                    <ion-text class="dapp-category">
                                        {{ dapp.metadata.category | uppercase }}
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <!-- End of right column -->
                    </ion-row>

                    <!-- Screenshots -->

                    <ion-row class="dapp-details-row">
                        <h4>
                            Screenshots
                        </h4>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
                                #swiper>
                                <ng-template swiperSlide *ngFor="let screenshot of dapp.metadata.screenshots">
                                    <ion-img [src]="screenshot.imageURI"></ion-img>
                                </ng-template>
                            </swiper>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-slides>
                                <ion-slide></ion-slide>
                            </ion-slides>
                        </ion-col>
                    </ion-row>

                    <!-- Description -->
                    <ion-row class="dapp-details-row">
                        <ion-col>
                            <h4>
                                Description
                            </h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>
                                {{ dapp.metadata.description }}
                            </p>
                        </ion-col>
                    </ion-row>

                    <!-- Reviews -->
                    <ion-row class="dapp-details-row">
                        <h4>
                            Reviews
                        </h4>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div *ngIf="reviews.length > 0">
                                <dapp-review *ngFor="let review of reviews" [review]="review" [dapp]="dapp">
                                </dapp-review>
                            </div>
                            <div *ngIf="reviews.length == 0">
                                <p>This dapp has no reviews</p>
                                <ion-row>
                                    <ion-col>
                                        <ion-button (click)="showRatingsModal()">Write a review</ion-button>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- End -->
    </ion-grid>

</ion-content>