<ion-content>
  <ion-row>
    <ion-col>
      <ion-segment (ionChange)="onSegmentChanged($event)" value="items" #segmentControl>
        <ion-segment-button value="items">
          <ion-icon name="apps"></ion-icon>
          <ion-label>My OWned Items</ion-label>
        </ion-segment-button>
        <ion-segment-button value="loans">
          <ion-icon name="cash"></ion-icon>
          <ion-label>My loans</ion-label>
         </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <div *ngIf="currentSegment == 'items'">
    <ion-row>
      <ion-col *ngFor="let nft of items; let i=index" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <my-nft-card [nft]="nft" [routerLink]="['/', 'borrow', 'request', nft.nftContract, nft.tokenID.toString() ]"></my-nft-card>
      </ion-col>
      <ion-col *ngIf="items && items.length == 0">
        <ion-row class="centered-content owned-title">
          <ion-text class="centered-text">You do not own any NFTs</ion-text>
        </ion-row>
        <ion-row class="centered-content">
          <ion-text class="centered-text">You can purchase NFTs in the market or win a whitelist spot in a launch.</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </div>
  <div *ngIf="currentSegment == 'loans'">
    <ion-row class="title-row">
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
        <ion-text class="row-title">
          Filter
        </ion-text>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" offset-md="4"  offset-lg="4" size-lg="2" offset-lg="6" size-xl="2" offset-xl="6">
        <ion-select value="pending" interface="popover" class="dropdown-select" #filterSelect (ionChange)="onFilterChanged($event)">
          <ion-select-option value="pending">Pending</ion-select-option>
          <ion-select-option value="open">Open</ion-select-option>
          <ion-select-option value="repaid">Repaid</ion-select-option>
          <ion-select-option value="foreclosed">Foreclosed</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loans.length == 0 && pendingLoans.length == 0">
      <ion-col class="centered-content">
        <ion-text><h2>You do not have any loans</h2></ion-text>
      </ion-col>
    </ion-row>

    <div *ngIf="filter === 'pending'">
      <div *ngIf="pendingLoans.length">
        <ion-row class="loans-header">
          <ion-col size="2">Asset</ion-col>
          <ion-col size="3">Amount</ion-col>
          <ion-col size="4">Repayment</ion-col>
          <ion-col size="3">Duration</ion-col>
        </ion-row>
        <ion-row class="loan-row" *ngFor="let pending of pendingLoans">
          <ion-col size="12">
            <ion-card [routerLink]="['/', 'borrow', 'request', pending.nftContract.toString(), pending.tokenID.toString()]">
              
              <ion-card-content>
                <ion-row>
                  <ion-col size="2">
                    {{pending.requestID}}
                  </ion-col>
                  <ion-col size="3">
                    {{ pending.amount | formatEth }} {{ currency | uppercase }}
                  </ion-col>
                  <ion-col size="4">
                    {{ pending.repayment | formatEth }} {{ currency | uppercase }}
                  </ion-col>
                  <ion-col size="3">
                    {{ pending.loanLength / 86400 + ' days' }}
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </div>
    </div> <!-- filter === 'pending'-->

    <div *ngIf="filter !== 'pending'">
      <div *ngIf="loans.length">
        <ion-row class="loans-header">
          <ion-col size="2">Asset</ion-col>
          <ion-col size="3">Amount</ion-col>
          <ion-col size="4">Repayment</ion-col>
          <ion-col size="3">Due Date</ion-col>
        </ion-row>
        <ion-row class="loan-row" *ngFor="let loan of loans">
          <ion-col size="12">
            <ion-card [routerLink]="['/', 'borrow', 'request', loan.nftContract.toString(), loan.tokenID.toString()]">
              
              <ion-card-content>
                <ion-row>
                  <ion-col size="2">
                    {{loan.loanID}}
                  </ion-col>
                  <ion-col size="3">
                    {{ loan.principal | formatEth }} {{ currency | uppercase }}
                  </ion-col>
                  <ion-col size="4">
                    {{ loan.repaymentAmount | formatEth }} {{ currency | uppercase }}
                  </ion-col>
                  <ion-col size="3">
                    {{ loan.expiresAt.mul(1000).toString() | date:'medium' }}
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="loans.length == 0" class="no-items-row">
        <ion-col class="centered-content no-items-text">No items found</ion-col>
      </ion-row>
    </div> <!-- filter !== 'pending'-->
    
  </div>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-content>
