<ion-content>
  <ion-grid>
  <!-- Lending Pools -->
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" size-xl="8" offset-xl="2">
      <ion-card class="light-background">
        <ion-card-title>
          <ion-row class="pool-title-row">
            <ion-col>
              <ion-text class="pool-section-title">Lending Pools</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-item-divider class="light-background"></ion-item-divider>
        <ion-card-content>
          <ion-row class="loans-header">
            <ion-col size="3">Market</ion-col>
            <ion-col size="3">Collateral</ion-col>
            <ion-col size="2">APR</ion-col>
            <ion-col size="2">Utilization</ion-col>
            <ion-col size="2">Liquidity</ion-col>
          </ion-row>
          <ion-row *ngFor="let pool of lendingPools">
            <ion-col>
              <ion-card [routerLink]="['/', 'borrow', 'pool', pool.address]" class="lighter-background">
                <ion-row class="pool-row">
                  <ion-col size="3" class="flex-col">
                    <ion-avatar class="asset-logo">
                      <ion-img [src]="pool.asset.logo" class="asset-avatar"></ion-img>
                    </ion-avatar>
                    <ion-text class="asset-name">
                      {{pool.asset.symbol}}
                    </ion-text>
                  </ion-col>
                  <ion-col size="3">
                    <ion-text *ngFor="let collateral of pool.collateral; index as i">
                      {{collateral.symbol}}
                      <span *ngIf="i !== pool.collateral.length - 1">, </span>
                    </ion-text>
                  </ion-col>
                  <ion-col size="2" *ngIf="pool.stats">{{ pool.stats.apr | number:'1.2-3' }}%</ion-col>
                  <ion-col size="2" *ngIf="pool.stats">{{ pool.stats.utilization | number: '1.2-3' }}%</ion-col>
                  <ion-col size="2" *ngIf="pool.stats">{{ pool.stats.total | currency }}</ion-col>
                </ion-row>
              </ion-card>
            </ion-col>
            <!-- columns for pools -->
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>
