.filter-row {
    background-color: var(--chedda-color-clean);
    margin: 0 -20px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    box-shadow: 0 0 2px 0px grey;
  }