<ion-content>
  <ion-grid>
        <!-- stake -->
        <ion-row>
          <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
            <ion-card class="light-background">
              <ion-card-title>
                <ion-row class="card-title-row">
                  <ion-col>
                    <ion-text class="card-title">
                      Stake CHEDDA
                    </ion-text>
                  </ion-col>
                </ion-row>
                
              </ion-card-title>
              <ion-item-divider class="light-background"></ion-item-divider>
              <ion-card-content>
    
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Total Supply</ion-text>
                  </ion-col>
                  <ion-col size="6">{{ cheddaTotalSupply | number:'1.2-5':'en-us' }} CHEDDA</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>My Balance</ion-text>
                  </ion-col>
                  <ion-col size="6">{{ myCheddaBalance | number:'1.2-5':'en-us' }} CHEDDA </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>My Stake</ion-text>
                  </ion-col>
                  <ion-col size="6">{{ myStakedCheddaBalance | number:'1.2-5':'en-us'}} xCHEDDA </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>Current APR</ion-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-text>{{cheddaStakingAPR | number}}%</ion-text>
                  </ion-col>
                </ion-row>
                <ion-item-divider class="light-background"></ion-item-divider>
                <ion-segment value="stake" (ionChange)="onStakeSegmentChanged($event)">
                  <ion-segment-button value="stake">Stake</ion-segment-button>
                  <ion-segment-button value="unstake">Unstake</ion-segment-button>
                </ion-segment>
                <div *ngIf="currentStakeSegment === 'stake'">
                  <ion-row>
                    <ion-col class="align-items-center">
                      <ion-text>Amount</ion-text>
                    </ion-col>
                    <ion-col class="justify-content-end">
                      <ion-button size="small" color="primary" fill="clear" (click)="fillMaxStake()">Max {{myCheddaBalance | number:'1.1-4'}}</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input placeholder="0.0" class="bordered-input" type="number" #stakeInput></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button *ngIf="isCheddaApproved" color="primary" fill="solid" expand="block" (click)="stake()">Stake</ion-button>
                      <ion-button *ngIf="!isCheddaApproved" color="primary" fill="solid" expand="block" (click)="approveChedda()">Approve Chedda</ion-button>
                    </ion-col>
                  </ion-row>
                </div>
    
                <div *ngIf="currentStakeSegment === 'unstake'">
                <ion-row>
                  <ion-col class="align-items-center">
                    <ion-text>Amount</ion-text>
                  </ion-col>
                  <ion-col class="justify-content-end">
                    <ion-button size="small" color="primary" fill="clear" (click)="fillMaxUnstake()">Max {{myStakedCheddaBalance | number:'1.1-4'}}</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input placeholder="0.0" class="bordered-input" type="number" #unstakeInput></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" fill="outline" expand="block" (click)="unstake()">Unstake</ion-button>
                  </ion-col>
                </ion-row>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

    <!-- Lock -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title">
                  Lock xCHEDDA
                </ion-text>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <ion-text>xCHEDDA Locked</ion-text>
              </ion-col>
              <ion-col size="6">{{ myXCheddaLocked | number:'1.2-5':'en-us' }} xCHEDDA </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Voting Power</ion-text>
              </ion-col>
              <ion-col size="6">{{ myVeCheddaBalance | number:'1.2-5':'en-us'}} veCHEDDA </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Weekly Rewards APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{cheddaStakingAPR | number}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-item-divider class="light-background"></ion-item-divider>
            <ion-segment value="lock" (ionChange)="onLockSegmentChanged($event)">
              <ion-segment-button value="lock">Lock</ion-segment-button>
              <ion-segment-button value="withdraw">Withdraw</ion-segment-button>
            </ion-segment>
            <div *ngIf="currentLockSegment === 'lock'">
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Amount</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxLock()">Max {{myStakedCheddaBalance | number:'1.1-4'}}</ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" type="number" #lockInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Lock Time (In Weeks)</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-range pin min="1" max="156" value="1" #lockRange>
                    <ion-label slot="start">1 week</ion-label>
                    <ion-label slot="end">3 years</ion-label>
                  </ion-range>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-text class="subtext">
                  Note: Locking can not be undone until the lock expires. Use with caution.
                </ion-text>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button *ngIf="isXCheddaApproved" color="primary" fill="solid" expand="block" (click)="lock()">Lock</ion-button>
                  <ion-button *ngIf="!isXCheddaApproved" color="primary" fill="solid" expand="block" (click)="approveStakedChedda()">Approve xChedda</ion-button>
                </ion-col>
              </ion-row>
            </div>

            <div *ngIf="currentLockSegment === 'withdraw'">
              <ion-row>
                <ion-col>
                  Lock Expiry
                </ion-col>
                <ion-col> May 22, 2023</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                <ion-text>
                  Withdrawals only possible when the lock expires. 
                </ion-text>
                </ion-col>
              </ion-row>
            <ion-row>
              <ion-col>
                <ion-button color="primary" fill="outline" expand="block" (click)="withdraw()">Withdraw</ion-button>
              </ion-col>
            </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Faucets -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title">
                  Testnet Faucets
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="subheading">
                  Testnet faucets for minting tokens to use in Lending and Borrowing
                </ion-text>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <!---->
                <ion-col class="no-padding">
                  <ion-card class="lighter-background" *ngFor="let token of tokens">
                    <ion-card-content class="no-padding faucet-row">
                      <ion-row>
                        <ion-col size="9" class="loan-info-col">
                          <ion-row class="asset-row">
                              <ion-col class="loan-info-col loan-content"> 
                                <ion-img [src]="token.logo" class="asset-thumb round-image"></ion-img>
                                <ion-text class="token-name">{{ token.name }}</ion-text>
                              </ion-col> 
                          </ion-row>
                        </ion-col>
                        <ion-col size="3" class="justify-content-end align-items-center">
                          <ion-button size="small" fill="solid" color="secondary" (click)="drip(token.address)">Drip</ion-button>
                          <ion-button (click)="addTokenToMetamask(token)" size="small" color="dark"><ion-icon name="add"></ion-icon></ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                  <ion-row>
                    <ion-col>
                      <ion-text class="subtext">
                        Note: You can only drip once a day.
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <!---->
              </ion-col>
            </ion-row>
          </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
