<ion-content>
  <!-- banner image -->
<div class="container" *ngIf="profile">
  <ion-img [src]='profile.metadata.banner' alt="banner" class="profile-banner" style="border-radius: 10px; object-fit: cover;" *ngIf="profile.metadata.banner"></ion-img>

</div>
<div class="bottom-center">
  <ion-avatar class="profile-avatar" border-radius="10px" *ngIf="profile.metadata.avatar">
    <ion-img [src]='profile.metadata.avatar'></ion-img>
  </ion-avatar>
  <div *ngIf="!profile.metadata.avatar" class="circle">
    <div class="initials">
      {{ initials }}
    </div>
  </div>
</div>

<ion-grid *ngIf="profile" class="profile-metadata">
  <!-- name -->
  <ion-row>
    <ion-col class="centered-text">
      <ion-chip (click)="copyAddress()" class="address-chip">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>{{profile.address | truncateMiddle:[12, '...', 8 ]}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="balance">
    <ion-col class="centered-text">
      <ion-text class="balance-text">{{balance}} XP</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="centered-content">
      <ion-text><h3>NFT Badges</h3></ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <div class="scrolling-wrapper-flex">
      <ion-col *ngFor="let badge of availableBadges">
        <div class="centered-text badge-wrapper">
          <div class="centered-content">
            <ion-img [src]="badge.imageGrayscale" class="profile-badge"></ion-img>
            <ion-icon name="lock-closed" class="centered badge-lock"></ion-icon>    
          </div>
          <ion-text class="badge-name">{{badge.name}}</ion-text>
        </div>
      </ion-col>
    </div>
  </ion-row>
  <ion-row>
    <ion-col class="centered-content">
        <ion-text class="centered-text">Earn Chedda XP to rank on leaderboard and unlock badges.</ion-text>
    </ion-col>
  </ion-row>

  <!-- stats -->

  <!-- items/activity -->
  <ion-row>
    <ion-col>
      <ion-segment (ionChange)="onSegmentChanged($event)" value="items" #segmentControl>
        <ion-segment-button value="items">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Owned Items</ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button value="activity">
          <ion-icon name="analytics"></ion-icon>
          <ion-label>Activity</ion-label>
         </ion-segment-button> -->
      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Items segment content -->
  <ion-row *ngIf="currentSegment == 'items'">
      <ion-col *ngFor="let nft of items; let i=index" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <my-nft-card [nft]="nft" [routerLink]="['/', 'nfts', 'details', nft.nftContract, nft.tokenID.toString()]"></my-nft-card>
      </ion-col>
      <ion-col *ngIf="items && items.length == 0">
        <ion-row class="centered-content owned-title">
          <ion-text class="centered-text">You do not own any NFTs</ion-text>
        </ion-row>
        <ion-row class="centered-content">
          <ion-text class="centered-text">You can purchase NFTs in the market or win a whitelist spot in a launch.</ion-text>
        </ion-row>
      </ion-col>
  </ion-row>

  <!-- Activity segment content -->
  <ion-row *ngIf="currentSegment == 'activity'">
    <ion-col>
      <h4>Trades</h4>

      <div>
        <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
        <ion-list>
          <ion-list-header>
            <ion-label>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
