<!-- <ion-content>
  <ion-grid class="default-background">
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title" *ngIf="pool">
                  Borrow {{ pool.asset.name }}
                </ion-text>
              </ion-col>
              <ion-col class="card-collateral-col">
                <ion-avatar class="card-title-collateral-img logo-cascade">
                  <ion-img [src]="pool.asset.logo"></ion-img>
                </ion-avatar>
                <ion-icon name="arrow-back" class="arrow-back"></ion-icon>
                <ion-avatar *ngFor="let collateral of pool.collateral" class="card-title-collateral-img logo-cascade">
                  <ion-img [src]="collateral.logo"></ion-img>
                </ion-avatar>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <ion-text>My Collateral</ion-text>
              </ion-col>
              <ion-col size="6">{{ myCollateralDeposited | number:'1.2-4'}} {{collateralTokenSymbol}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Available Liquidity</ion-text>
              </ion-col>
              <ion-col size="6">{{totalVaultAssets | number:'1.2-4'}} {{assetSymbol}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Utilization</ion-text>
              </ion-col>
              <ion-col size="6">{{utilizationRate | number:'1.2-3'}}%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Deposit APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{depositApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Rewards APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{rewardsApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-item-divider class="light-background"></ion-item-divider>
            <ion-row>
              <ion-segment value="borrow" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="borrow">Borrow</ion-segment-button>
                <ion-segment-button value="repay">Repay</ion-segment-button>
              </ion-segment>
            </ion-row>
            <div *ngIf="currentSegment === 'borrow'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Deposit Collateral
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-select placeholder="Collateral Type" interface="popover" (ionChange)="onCollateralTypeChanged($event)">
                    <ion-select-option [value]="c.symbol" *ngFor="let c of collaterals">{{c.symbol}}</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              NFT code -------------------------------------
              <ion-row *ngIf="collateralContract && !collateralContract.isNFT">
                <ion-col class="align-items-center">
                  <ion-text>Add {{collateralTokenSymbol}} Collateral</ion-text>&nbsp;
                  <ion-icon name="enter-outline"></ion-icon>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxDeposit()">Balance {{myCollateralTokenBalance | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="collateralContract && !collateralContract.isNFT">
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" (ionInput)="setBorrowMode('collateral')" #addCollateralInput></ion-input>        
               </ion-col>
              </ion-row>
              <ion-row *ngIf="collateralContract && collateralContract.isNFT">
                  <div *ngIf="ownedNFTs.length === 0">
                    <ion-text>No matching NFTs in wallet</ion-text>
                  </div>
                  <div *ngIf="ownedNFTs.length !== 0">
                    <ion-row>
                        <ion-img *ngFor="let nft of ownedNFTs" [src]="nft.image" class="img-collateral" [ngClass]="nft.isSelected ? 'selected-nft' : ''" (click)="selectNFT(nft)">
                        </ion-img>
                    </ion-row>
                  </div>
              </ion-row>
              
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Borrow {{assetSymbol}}</ion-text> &nbsp;
                  <ion-icon name="exit-outline"></ion-icon>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxBorrow()">Max {{maxBorrowAmount | number:'1.2'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" (ionInput)="setBorrowMode('borrow')" #borrowInput></ion-input>        
               </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button *ngIf="!isApproved" color="primary" fill="solid" expand="block" (click)="approveCollateral()">Approve {{collateralTokenSymbol}}</ion-button>
                  <ion-button *ngIf="isApproved && borrowMode == 'collateral'" color="primary" expand="block" (click)="addCollateral()">Deposit {{collateralTokenSymbol}}</ion-button>
                  <ion-button *ngIf="isApproved && borrowMode == 'borrow'" color="primary" expand="block" (click)="borrowAsset()" (ionInput)="setBorrowMode('borrow')">Borrow {{assetSymbol}}</ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="currentSegment === 'repay'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Remove Collateral
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-select placeholder="Collateral Type" interface="popover" (ionChange)="onCollateralTypeChanged($event)" [value]="collateralTokenSymbol">
                    <ion-select-option [value]="c.symbol" *ngFor="let c of collaterals">{{c.symbol}}</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="collateralContract && !collateralContract.isNFT">
                <ion-col class="align-items-center">
                  <ion-text>Withdraw {{collateralTokenSymbol}} collateral</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxWithdraw()">Max {{myCollateralDeposited | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="collateralContract && !collateralContract.isNFT">
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" type="number" (ionInput)="setRepayMode('collateral')" #withdrawCollateralInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="collateralContract && collateralContract.isNFT">
                <div *ngIf="myNftsCollateral.length === 0">
                  <ion-text>No matching NFTs in wallet</ion-text>
                </div>
                <div *ngIf="myNftsCollateral.length !== 0">
                  <ion-row>
                      <ion-img *ngFor="let nft of myNftsCollateral" [src]="nft.image" class="img-collateral" [ngClass]="nft.isSelected ? 'selected-nft' : ''" (click)="selectNFT(nft)">
                      </ion-img>
                  </ion-row>
                </div>
            </ion-row>

              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Repay {{assetSymbol}}</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxRepay()">Max {{myAmountOwed | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" type="number" (ionInput)="setRepayMode('repay')" #repayInput></ion-input>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button *ngIf="repayMode == 'repay'" color="primary" fill="outline" expand="block" (click)="repay()">Repay {{assetSymbol}}</ion-button>
                  <ion-button *ngIf="repayMode == 'collateral'" color="primary" fill="outline" expand="block" (click)="removeCollateral()">Withdraw {{collateralTokenSymbol}}</ion-button>
                </ion-col>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->

<ion-content>
  <ion-grid>
    <app-page-title
      heading="Borrow Assets"
      subHeading="Borrow and Repay assets against your collaterals even in NFTs."
    ></app-page-title>
    <button class="w-11/12 xl:w-5/6 3xl:w-9/12 mx-auto flex items-center mt-4 text-[#8CD6D4] text-sm hover:opacity-80" (click)="navigateToMarkets()">
      <img src="/assets/icon/back-icon.png" class="w-3 mr-2">
      Back to markets
    </button>
    <div
      class="w-11/12 md:w-9/12 lg:w-8/12 xl:w-6/12 2xl:w-[740px] h-auto mx-auto rounded-[30px] my-10 text-white card-bg"
    >
      <div
        class="h-16 sm:h-20 border-b font-semibold text-lg sm:text-3xl flex items-center space-x-4 justify-center border-gray-500"
      >
        <div class="w-10 h-10" *ngIf="pool">
          <img [src]="pool.asset.logo">
        </div>
        <div *ngIf="pool">Borrow {{ pool.asset.name }}</div>
      </div>
      <div class="pt-5 pb-10 px-6 sm:px-16">
        <div class="h-auto w-full flex text-[#B5C2EB]">
          <div
            [class.activeTab]="isBorrowCheddaTab"
            class="text-sm sm:text-lg py-3 w-full text-center hover:opacity-75 uppercase hover:bg-transparent"
          >
            <button
              class="w-full font-semibold uppercase"
              (click)="switchBorrowCheddaTab(true)"
            >
              Borrow
            </button>
          </div>
          <div
            [class.activeTab]="!isBorrowCheddaTab"
            class="text-sm sm:text-lg py-3 w-full text-center hover:opacity-75 uppercase font-semibold"
          >
            <button class="w-full font-semibold uppercase" (click)="switchBorrowCheddaTab(false)">
              Repay
            </button>
          </div>
        </div>
        <div *ngIf="isBorrowCheddaTab">
          <div class="mt-8 flex justify-between text-sm sm:text-lg">
            <div class="opacity-50">Deposit collateral</div>
            <div class="relative hover:opacity-80">
              <select 
                name="collateral"
                (change)="onCollateralTypeChanged($event)"
                class="appearance-none bg-black focus:shadow-outline opacity-100 mr-1 text-white rounded py-1 pl-4 pr-8 text-[12px] focus:outline-none"
              >
                <option *ngFor="let c of collaterals" [value]="c.symbol">
                  {{c.symbol}}
                </option>
              </select>
              <div class="absolute inset-y-0 right-2 flex items-center px-2 pointer-events-none">
                <svg class="fill-current h-4 w-4 text-white" viewBox="0 0 20 20">
                  <path d="M10 14l-6-6h12l-6 6z"/>
                </svg>
              </div>
            </div>
          </div>
          <div
            *ngIf="collateralContract && !collateralContract.isNFT"
            class="text-xs sm:text-sm opacity-50 mt-9"
          >
            Enter {{collateralTokenSymbol}} amount to be deposited
          </div>
          <div
            *ngIf="collateralContract && !collateralContract.isNFT"
            class="relative"
          >
            <input
              type="number"
              placeholder="Amount"
              (input)="setBorrowMode('collateral')"
              #addCollateralInput
              class="bg-black w-full rounded mt-3 h-10 sm:h-14 px-4 font-semibold text-white text-xs sm:text-lg focus:outline-none focus:shadow-outline"
            />
            <div class="absolute top-0 right-0 mt-4 sm:mt-5 mr-1 sm:mr-2">
              <button
                (click)="fillMaxDeposit()"
                class="w-auto px-4 h-[31px] sm:h-[41px] bg-[#20173F] rounded flex justify-center items-center hover:bg-[#4e26e0] text-xs  sm:text-[17px] text-[#ffffff50] hover:text-white"
              >
                Balance
              </button>
            </div>
          </div>
          <div *ngIf="collateralContract && collateralContract.isNFT">
            <div *ngIf="ownedNFTs.length === 0">
              <div class="text-sm opacity-50 mt-5">
                No matching NFTs in wallet
              </div>
            </div>
            <div *ngIf="ownedNFTs.length !== 0">
              <div class="text-sm opacity-50 mt-5">
                Select NFTs to be deposited
              </div>
              <div class="flex gap-x-4 flex-wrap" >
                <div *ngFor="let nft of ownedNFTs" 
                  class="w-24 h-36 mt-5 bg-black rounded-sm nft-container" 
                  [ngClass]="nft.isSelected ? 'selected-nft' : ''"
                  (click)="selectNFT(nft)"
                >
                  <img
                    [src]="nft.image"
                    class="img-collateral rounded-t-sm "
                  >
                  <div class="p-1 text-xs">{{nft.description}}</div>
                  <div class="px-1 text-xs">{{nft.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-xs sm:text-sm opacity-50 mt-5">
            Enter {{assetSymbol}} amount to borrow
          </div>
          <div class="relative">
            <input
              type="number"
              placeholder="Amount"
              (input)="setBorrowMode('borrow')"
              #borrowInput
              class="bg-black w-full rounded mt-3 h-10 sm:h-14 px-4 font-semibold text-white text-xs sm:text-lg focus:outline-none focus:shadow-outline"
            />
            <div class="absolute top-0 right-0 mt-4 sm:mt-5 mr-1 sm:mr-2">
              <button
                (click)="fillMaxBorrow()"
                class="w-auto px-3 sm:px-5 h-[31px] sm:h-[41px] bg-[#20173F] rounded flex justify-center items-center hover:bg-[#4e26e0] text-xs sm:text-[17px] text-[#ffffff50] hover:text-white"
              >
                Max
              </button>
            </div>
          </div>
          <app-primary-button
            [buttonText]="'Approve ' + collateralTokenSymbol"
            [visibility]="!isApproved"
            (clicked)="approveCollateral()"
          ></app-primary-button>
          <app-primary-button
            [buttonText]="'Deposit ' + collateralTokenSymbol"
            [visibility]="isApproved && borrowMode == 'collateral'"
            (clicked)="addCollateral()"
          ></app-primary-button>
          <app-primary-button
            [buttonText]="'Borrow ' + assetSymbol"
            [visibility]="isApproved && borrowMode == 'borrow'"
            (clicked)="borrowAsset()"
          ></app-primary-button>
        </div>
        <!-- Repay -->
        <div *ngIf="!isBorrowCheddaTab">
          <div class="mt-8 flex justify-between text-sm sm:text-lg">
            <div class="opacity-50">Remove collateral</div>
            <div class="relative hover:opacity-80">
              <select 
                name="collateral"
                (change)="onCollateralTypeChanged($event)"
                class="appearance-none bg-black focus:shadow-outline opacity-100 mr-1 text-white rounded py-1 pl-4 pr-8 text-[12px] focus:outline-none"
              >
                <option *ngFor="let c of collaterals" [value]="c.symbol">
                  {{c.symbol}}
                </option>
              </select>
              <div class="absolute inset-y-0 right-2 flex items-center px-2 pointer-events-none">
                <svg class="fill-current h-4 w-4 text-white" viewBox="0 0 20 20">
                  <path d="M10 14l-6-6h12l-6 6z"/>
                </svg>
              </div>
            </div>
          </div>
          <div
            *ngIf="collateralContract && !collateralContract.isNFT"
            class="text-xs sm:text-sm opacity-50 mt-9"
          >
            Enter {{collateralTokenSymbol}} amount to be withdrawn
          </div>
          <div
            *ngIf="collateralContract && !collateralContract.isNFT"
            class="relative"
          >
            <input
              type="number"
              placeholder="Amount"
              (input)="setRepayMode('collateral')"
              #withdrawCollateralInput
              class="bg-black w-full rounded mt-3 h-10 sm:h-14 px-4 font-semibold text-white text-xs sm:text-lg focus:outline-none focus:shadow-outline"
            />
            <div class="absolute top-0 right-0 mt-4 mr-1 sm:mt-5 sm:mr-2">
              <button
                (click)="fillMaxWithdraw()"
                class="w-auto px-4 h-[31px] sm:h-[41px] bg-[#20173F] rounded flex justify-center items-center hover:bg-[#4e26e0] text-xs  sm:text-[17px] text-[#ffffff50] hover:text-white"
              >
                Balance
              </button>
            </div>
          </div>
          <div *ngIf="collateralContract && collateralContract.isNFT">
            <div *ngIf="myNftsCollateral.length === 0">
              <div class="text-sm opacity-50 mt-5">
                No matching NFTs in wallet
              </div>
            </div>
            <div *ngIf="myNftsCollateral.length !== 0">
              <div class="text-sm opacity-50 mt-5">
                Select NFTs to be deposited
              </div>
              <div class="flex gap-x-4 flex-wrap" >
                <div *ngFor="let nft of myNftsCollateral" 
                  class="w-24 h-36 mt-5 bg-black rounded-sm nft-container" 
                  [ngClass]="nft.isSelected ? 'selected-nft' : ''"
                  (click)="selectNFT(nft)"
                >
                  <img
                    [src]="nft.image"
                    class="img-collateral rounded-t-sm "
                  >
                  <div class="p-1 text-xs">{{nft.description}}</div>
                  <div class="px-1 text-xs">{{nft.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-xs sm:text-sm opacity-50 mt-5">
            Enter {{assetSymbol}} amount to repay
          </div>
          <div class="relative">
            <input
              type="number"
              placeholder="Amount"
              (input)="setRepayMode('repay')"
              #repayInput
              class="bg-black w-full rounded mt-3 h-10 sm:h-14 px-4 font-semibold text-white text-xs sm:text-lg focus:outline-none focus:shadow-outline"
            />
            <div class="absolute top-0 right-0 mt-4 mr-1 sm:mt-5 sm:mr-2">
              <button
                (click)="fillMaxRepay()"
                class="w-auto px-3 sm:px-5 h-[31px] sm:h-[41px] bg-[#20173F] rounded flex justify-center items-center hover:bg-[#4e26e0] text-xs sm:text-[17px] text-[#ffffff50] hover:text-white"
              >
                Max
              </button>
            </div>
          </div>
          <app-secondary-button
            [buttonText]="'Repay ' + assetSymbol"
            [visibility]="repayMode == 'repay'"
            (clicked)="repay()"
          ></app-secondary-button>
          <app-secondary-button
            [buttonText]="'Withdraw ' + collateralTokenSymbol"
            [visibility]="repayMode == 'collateral'"
            (clicked)="removeCollateral()"
          ></app-secondary-button>
        </div>
        <div
          class="w-full h-auto mt-12 rounded-[20px] border-[1px] border-[#bab9bb] text-white px-3 py-7"
        >
          <div class="grid grid-cols-2 justify-between mt-4">
            <div class="text-xs sm:text-[16px] text-[#999898]">My Collateral</div>
            <div class="font-bold text-xs sm:text-[20px]">
              {{ myCollateralDeposited | number:'1.2-4'}}
              {{collateralTokenSymbol}}
            </div>
          </div>
          <div class="grid grid-cols-2 justify-between mt-4">
            <div class="text-xs sm:text-[16px] text-[#999898]">Available Liquidity</div>
            <div class="font-bold text-xs sm:text-[20px]">
              {{totalVaultAssets | number:'1.2-6'}} {{ assetSymbol }}
            </div>
          </div>
          <div class="grid grid-cols-2 justify-between mt-4">
            <div class="text-xs sm:text-[16px] text-[#999898]">Utilization</div>
            <div class="font-bold text-xs sm:text-[20px]">
              {{utilizationRate | number:'1.2-3'}}%
            </div>
          </div>
          <div class="grid grid-cols-2 justify-between mt-4">
            <div class="text-xs sm:text-[16px] text-[#999898]">Deposit APY</div>
            <div class="font-bold text-xs sm:text-[20px]">
              {{depositApy | number:'1.2-3'}}%
            </div>
          </div>
          <div class="grid grid-cols-2 justify-between mt-4">
            <div class="text-xs sm:text-[16px] text-[#999898]">Rewards APY</div>
            <div class="font-bold text-xs sm:text-[20px]">
              {{rewardsApy | number:'1.2-3'}}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
