<ion-content>
  <ion-grid class="default-background">
    <!-- main -->
    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="2" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card class="light-background">
          <ion-card-title>
            <ion-row class="card-title-row">
              <ion-col>
                <ion-text class="card-title" *ngIf="pool">
                  Borrow {{ pool.asset.name }}
                </ion-text>
              </ion-col>
              <ion-col class="card-collateral-col">
                <ion-avatar *ngFor="let collateral of pool.collateral" class="card-title-collateral-img logo-cascade">
                  <ion-img [src]="collateral.logo"></ion-img>
                </ion-avatar>
              </ion-col>
            </ion-row>
            
          </ion-card-title>
          <ion-item-divider class="light-background"></ion-item-divider>
          <ion-card-content>

            <ion-row>
              <ion-col size="6">
                <ion-text>My Collateral</ion-text>
              </ion-col>
              <ion-col size="6">{{ myCollateralDeposited | number:'1.2-4'}} {{collateralTokenSymbol}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Available Liquidity</ion-text>
              </ion-col>
              <ion-col size="6">{{totalVaultAssets | number:'1.2-4'}} {{assetSymbol}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Utilization</ion-text>
              </ion-col>
              <ion-col size="6">{{utilizationRate | number:'1.2-3'}}%</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Deposit APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{depositApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-text>Rewards APR</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>{{rewardsApy | number:'1.2-3'}}%</ion-text>
              </ion-col>
            </ion-row>
            <ion-item-divider class="light-background"></ion-item-divider>
            <ion-row>
              <ion-segment value="borrow" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="borrow">Borrow</ion-segment-button>
                <ion-segment-button value="repay">Repay</ion-segment-button>
              </ion-segment>
            </ion-row>
            <div *ngIf="currentSegment === 'borrow'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Deposit Collateral
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-select placeholder="Collateral Type" interface="popover" (ionChange)="onCollateralTypeChanged($event)">
                    <ion-select-option [value]="c.symbol" *ngFor="let c of collaterals">{{c.symbol}}</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <div *ngIf="collateralType === 'wavax'"></div>
                <div *ngIf="collateralType === 'nft'">
                  <div *ngIf="myNftsCollateral.length === 0">
                    <ion-text>No matching NFTs in wallet</ion-text>
                  </div>
                  <div *ngIf="myNftsCollateral.length !== 0">
                    <ion-col *ngFor="let nft of myNftsCollateral">
                      <ion-thumbnail [ngClass]="selectedNfts.includes(nft) ? '' : ''"> <!-- use ids -->
                        <ion-img [src]="nft.image"></ion-img>
                      </ion-thumbnail>
                    </ion-col>
                  </div>
                </div>
                <ion-col class="align-items-center">
                  <ion-text>Add {{collateralTokenSymbol}} Collateral</ion-text>&nbsp;
                  <ion-icon name="enter-outline"></ion-icon>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxDeposit()">Balance {{myCollateralTokenBalance | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" (ionChange)="setBorrowMode('collateral')" #addCollateralInput></ion-input>        
               </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Borrow {{assetSymbol}}</ion-text> &nbsp;
                  <ion-icon name="exit-outline"></ion-icon>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxBorrow()">Max {{'0' | number:'1.2-4'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" (ionChange)="setBorrowMode('borrow')" #borrowInput></ion-input>        
               </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button *ngIf="!isApproved" color="primary" fill="solid" expand="block" (click)="approveCollateral()">Approve {{collateralTokenSymbol}}</ion-button>
                  <ion-button *ngIf="isApproved && borrowMode == 'collateral'" color="primary" expand="block" (click)="addCollateral()">Deposit {{collateralTokenSymbol}}</ion-button>
                  <ion-button *ngIf="isApproved && borrowMode == 'borrow'" color="primary" expand="block" (click)="borrowAsset()" (ionChange)="setBorrowMode('borrow')">Borrow {{assetSymbol}}</ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="currentSegment === 'repay'">
              <ion-row>
                <ion-col>
                  <ion-text>
                    Repay
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Repay {{assetSymbol}}</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxRepay()">Max {{myAmountOwed | number:'1.2-5'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" type="number" (ionChange)="setRepayMode('repay')" #repayInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="align-items-center">
                  <ion-text>Withdraw {{collateralTokenSymbol}} collateral</ion-text>
                </ion-col>
                <ion-col class="justify-content-end">
                  <ion-button size="small" color="primary" fill="clear" (click)="fillMaxWithdraw()">Max {{myCollateralDeposited | number:'1.2-5'}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-input placeholder="0.0" class="bordered-input" type="number" (ionChange)="setRepayMode('collateral')" #withdrawCollateralInput></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button *ngIf="repayMode == 'repay'" color="primary" fill="outline" expand="block">Repay {{assetSymbol}}</ion-button>
                  <ion-button *ngIf="repayMode == 'collateral'" color="primary" fill="outline" expand="block" (click)="removeCollateral()">Withdraw {{collateralTokenSymbol}}</ion-button>
                </ion-col>
              </ion-row>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Pool details -->
    <ion-row>
      <ion-col>
        <ion-card>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
