
.card-collateral-col {
    display: flex;
}

.logo-cascade {
    margin: -5px;
    border-radius: 50%;
    border: 1px solid gray;
}

.card-title-collateral-img {
    width: 36px;
    height: 36px;
}
