
.card-collateral-col {
    display: flex;
}

.card-title-collateral-img {
    width: 36px;
    height: 36px;
}

.arrow-back {
    margin-left: 12px;
    margin-right: 12px;
}

.nft-container{
    background:#000;
}

.img-collateral {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.selected-nft {
    border:2px solid transparent;
    border-radius: 2px;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(#F3943D,#FDE34D) border-box;
}