.collection-card-title {
    font-size: 16px;
    font-weight: 700;
}

.collection-card {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
}
.collection-card-header {
    padding: 16px 16px 0;
}
.collection-card-image {
    box-shadow: 0px 5px 6px 0px grey;
}
.collection-card-content {
    padding: 0 16px 16px;
}

.collection-count {
    font-weight: 700;
}

.collection-tag {
    font-size: 13px;
    font-weight: 600;
}
.icon-middle {
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
}
   
.text-middle {
    display: inline-block;
    vertical-align: middle;
}


.text-likes {
    font-weight: 600;
}
 
.likes-dislikes {
    text-align: end;
}
 