.grid {
    padding: 20px;
    color: var(--ion-color-dark);
}
.avatar-wrapper {
    display: flex;
    justify-content: center;
}

.app-avatar {
    width: 150px;
    height: 150px;
    border: 3px var(--ion-color-dark) solid;
    border-radius: 50%;
}

.dislike-column {
    display: flex;
    justify-content: end;
}

.like-column {
    display: flex;
    justify-content: start;
}
.heart-icon {
    cursor: pointer;
    font-size: 80px;
    font-weight: 600;
}

.red-heart {
    color: var(--ion-color-danger);
}
.reward {
    font-size: 2em;
    font-weight: 500;
}
.reward-amount {
    font-size: 2em;
    font-weight: 700;
    color: var(--ion-color-danger);
}
.subtext {
    font-size: 0.6em;
    color: var( --ion-color-medium);
}