
.nft-card {
    cursor: pointer;
}
.nft-card-content { 
    padding: 0 8px 12px;
}
.nft-card-title {
    font-size: 14px;
    font-weight: 600;
}

.nft-price {
    font-size: 14px;
    font-weight: 600;
}

.nft-name {
    height: 44px;
}