<div>
  <div>
    <ion-img src="assets/images/chedda-banner.png"></ion-img>
  </div>
  <div class="modal-content">
    <h4>Welcome to Chedda</h4>
    <h5>The multi-chain dappstore and NFT market curated by users.</h5>
    <div>
      <ul>
        <li>Show your love for your favorite dapps and NFTs</li>
        <li>Earn Chedda XP in the process</li>
        <li>Rank on the leaderboard to win Chedda NFTs and ultimately become Godfather.</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <ion-button color="primary" (click)="onButtonClicked()">Start stacking Chedda</ion-button>
  </div>
</div>
