<div>
  <div>
    <ion-img src="assets/images/chedda-banner.png"></ion-img>
  </div>
  <div class="modal-content">
    <h4>Welcome to Chedda</h4>
    <h5>The Ultimate NFT market + DeFi Lending Platform.</h5>
    <div>
      <ul>
        <li>Collect and trade your favorite NFTs</li>
        <li>Borrow and lend on NFT collateralized loans</li>
        <li>Catch NFT launches and whitelists</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col class="centered-content grow" size="12">
            <ion-button color="primary" (click)="onButtonClicked()" expand="block">Okay, Let's Go!</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div>
        <ion-row>
          <ion-col class="centered-content">
            <ion-text class="subtext">Note: This is a testnet so smart contracts are redeployed often which wipes the contract state. Use with care.</ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>


  </div>
</div>
