/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

ion-modal.stack-modal {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.main-content {
  padding-bottom: 50px;
}


.img-fit {
  object-fit: fill;
  // height: 400px;
}

.centered-text {
  text-align: center;
}


.centered-content {
  display: flex;
  justify-content: center;
}

.text-middle {
  display: inline-block;
  vertical-align: middle;
}

.truncate-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 42px;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.no-padding {
  padding: 0;
}

.scrolling-wrapper-flex {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    // width: 200px;
    flex: 0 0 auto;
  }
}

.title-row {
  background-color: var(--chedda-color-clean);
  margin: 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  box-shadow: 0 0 2px 0px grey;
}

.row-title {
  margin: 12px 0;
  font-size: 16px;
  font-weight: 700;
}

.dropdown-select {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  padding-right: 4px;
}

.explore-section-header {
  margin: 20px 0;
}

.dapp-review-modal .modal-wrapper{
  min-height: 660px;
  height: auto;
}


ion-card.main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
  // background-color: transparentize($color: 000000, $amount: 0.5);
}
.subtext {
  font-size: 0.6em;
  color: var(--ion-color-medium);
}

.subheading {
  font-size: 14px;
  font-weight: 300;
  color: var(--ion-color-medium);
}

.white-text {
  color: white;
}

.normal-text-color {
  color: var(--ion-color-dark);
}

// Forms

.upload-box {
  margin: 10px;
  border: 2px var(--ion-color-light-shade) dashed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  &:hover {
      background-color: var(--ion-color-light-shade);
  }
}

.logo-box {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 4px;
}

.featured-box {
  width: 200px;
  height: 200px;
}

.banner-box {
  width: 400px;
  max-width: 90%;
  height: 120px;
}

.bordered-input {
  border-radius: 5px;
  border: 1px var(--ion-color-medium-tint) solid;
  padding-left: 6px;
  padding-right: 6px;
}

.form-col {
  padding: 0 5px;
}

.form-field-title {
  font-size: 0.9em;
  font-weight: 700;
}

.form-field-subtitle {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--ion-color-medium);
}

.hidden-input {
  display: none;
}

.loans-header {
  margin: 0 20px;
  font-weight: 700;
}

.no-items-text {
  font-weight: 500;
  font-size: 1.2em;
}

.no-items-row {
  margin: 20px 0;
}

.loan-info-col {
  font-weight: 500;
  vertical-align: middle;
}

.loan-content {
  display: flex;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.asset-row {
  display: flex;
  justify-content: flex-start;
}

.asset-thumb {
  min-width: 40px;
  max-height: 40px;
  &::part(image) {
    border-radius: 2px;
    width: 40px;
    height: 40px;
    size: 40px;
    --size: 40px;
  }
}

.asset-avatar {
  width: 32px;
  height: 32px;
}

.asset-name {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: 500;
}

.pool-section-title {
  margin: 0 32px;
  font-weight: 500;
}

.pool-title-row {
  margin-top: 20px;
}

.asset-logo {
  width: 36px;
  height: 36px;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
}

.pool-row {
  margin: 4px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.thin-divider {
  height: 4px;
}

.card-title-row {
  margin: 20px 16px 0px;
}

body, main {
  background-color: var(--chedda-default-background) !important;
}

.default-background {
  // background-color: var(--chedda-default-background);
}

.light-background {
  background-color: var(--chedda-light-background);
}

.lighter-background {
  background-color: var(--chedda-lighter-background);
}

ion-item-divider {
  margin-top: 0px;
  min-height: 1px !important;
}
.item-divider-wrapper {
  background-color: var(--chedda-light-background) !important;
}

@media (min-width: 768px) {
  .no-mobile {
    display: none;
  }
}