
.drop-card {
    cursor: pointer;
}

.subtitle {
    font-weight: 500;
}

.drop-description {
    margin-top: 12px;
}

.truncate-text {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 6.0em; /* Fallback for non-webkit, line-height * 2 */
    line-height: 1.5em;
    -webkit-line-clamp: 4; /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
  