
<ion-grid class="grid">
  <!-- <ion-row *ngIf="nft">
    <ion-col class="avatar-wrapper">
      <ion-avatar class="ion-center app-avatar">
        <ion-img [src]="nft.metadata.image"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row> -->
  <ion-row class="centered-text normal-text-color">
    <ion-col>
      <ion-row>
        <ion-col class="ion-center">
        <ion-text>
          <h2>Get a loan</h2>
        </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-center">
          <ion-text>Put this NFT up as collateral and borrow against its value.</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <form [formGroup]="loanForm" class="normal-text-color">

    <!-- amount -->
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="form-col">
            <ion-text class="form-field-title">Requested Amount ({{currency}})</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="bordered-input" placeholder="Requested amount" formControlName="amount" type="number" (change)="onAmountChanged()" debounce="0"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- duration -->
     <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="form-col">
            <ion-text class="form-field-title">Loan Term</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select interface="popover" interfaceOptions="{'cssClass': 'wide-popover'}" class="bordered-input" (ionChange)="onLoanTermChanged()" formControlName="duration">
              <ion-select-option *ngFor="let option of termOptions" [value]="option">{{option}} days</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- amount -->
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="form-col">
            <ion-text class="form-field-title">Repayment Amount ({{ currency }})</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="bordered-input"  formControlName="repayment" readonly="true">{{ repaymenAmount == '' || repaymenAmount == '0' ? '' : repaymenAmount }}</ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button (click)="onApproveClicked()" color="light" expand="block" *ngIf="!approved">Approve</ion-button>
      <ion-button (click)="onSubmitClicked()" [disabled]="!approved || loanForm.invalid" expand="block">Request Loan</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text class="subtext">Note: To use an NFT as collateral you must first approve the Chedda Protocol to manage it.</ion-text><br/>
      <ion-text class="subtext">No tokens are transferred until a loan is accepted.</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>