<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size-xs="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" size-xl="6" offset-xl="3">
        <ion-row>
          <ion-col>
            <ion-text>
              <h1>Create a Collection</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        
        <!-- Logo -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Logo</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Displayed on collection page. 300x300px recommended.</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="upload-box logo-box">
                  <ion-img src="/assets/images/placeholder-image.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Featured Image -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Featured Image</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Displayed if your collection is shown on the front page. 640x640px recommended.</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="upload-box featured-box">
                  <ion-img src="/assets/images/placeholder-image.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Banner Image -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Banner Image</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Displayed at the top of the collection page. 1400x400px recommended</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="upload-box banner-box">
                  <ion-img src="/assets/images/placeholder-image.png"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- name -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Name</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">The name of this collection.</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input class="bordered-input" placeholder="Collection name"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- description -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Description</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">Enter a description to tell users more about this collection.</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-textarea class="bordered-input" placeholder="Provide a description for your item" rows="4"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- category -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-title">Category</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="form-col">
                <ion-text class="form-field-subtitle">What type of collection is this?</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select interface="popover" interfaceOptions="{'cssClass': 'wide-popover'}" class="wide-popover bordered-input">
                  <ion-select-option *ngFor="let option of categories">{{option}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Create button -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary">Create Collection</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
